@namespace RizzyUI

@inherits RizzyComponent

<CascadingValue Value="this">
    <div @attributes="AdditionalAttributes" class=@RootClass()>
        @ChildContent
    </div>
</CascadingValue>

@code {
    private readonly List<Button> _buttons = new();

    public List<Button> Buttons => _buttons;

    /// <summary>
    /// Child content
    /// </summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    /// <inheritdoc/>
    protected override string? RootClass()
    {
        return $"inline-flex {AdditionalAttributes?.GetValueOrDefault("class")}";
    }

    internal void AddButton(Button button)
    {
        if (!_buttons.Contains(button))
        {
            _buttons.Add(button);
            StateHasChanged();
        }
    }
}
