@using RizzyUI
@using Blazicons
@namespace RizzyUI

@inherits RizzyComponent

<HtmlElement Element="button"
             @attributes="AdditionalAttributes"
             class="@RootClass()"
             type="button"
             aria-label="Toggle dark mode"
             x-data="rzDarkModeToggle"
             x-on:click="toggle"
             :aria-pressed="isDark">
    <div x-show="isLight" x-cloak>
        <Blazicon Svg="@DarkIcon" class="transition-transform duration-300 ease-out" />
    </div>

    <div x-show="isDark" x-cloak>
        <Blazicon Svg="@LightIcon" class="transition-transform duration-300 ease-out" />
    </div>
</HtmlElement>