[submodule "src/AngleSharp"]
	path = src/AngleSharp
	url = https://github.com/JalexSocial/AngleSharp.git
[submodule "src/AngleSharp.Css"]
	path = src/AngleSharp.Css
	url = https://github.com/JalexSocial/AngleSharp.Css.git
