@namespace RizzyUI.TailwindVariants.Tests.Components.Link
@inherits RizzyUI.TailwindVariants.Tests.Components.Base.TwComponentBase

<a class="@_slots.GetBase()" @attributes="AdditionalAttributes">
    @ChildContent
</a>

@code
{
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public Slots? Classes { get; set; }

    [Parameter] public Colors Color { get; set; }
    [Parameter] public Sizes Size { get; set; } = Sizes.Medium;
    [Parameter] public Underlines Underline { get; set; } = Underlines.NoUnderline;
    [Parameter] public bool Block { get; set; }
    [Parameter] public bool Disabled { get; set; }
}
