
@attribute [RzAlpineCodeBehind]
@namespace RizzyUI.Docs.Components.Pages.Interactivity.Examples

@using RizzyUI

<div>
    <RzAlpineComponent For="this" Name="promoBanner" LoadStrategy="event(loadPromo)">
        <RzAlert x-show="visible" x-transition>
            <AlertTitle>Special Offer!</AlertTitle>
            <AlertDescription>This banner's JavaScript was loaded on demand!</AlertDescription>
        </RzAlert>
    </RzAlpineComponent>

    <div class="mt-4">
        <RzButton x-on:click="window.dispatchEvent(new Event('loadPromo'))">
            Show Promo
        </RzButton>
    </div>
</div>