@namespace RizzyUI.Docs.Examples
@using RizzyUI

<div class="grid w-full max-w-md items-start gap-4">
    <RzAlert>
        <AlertTitle>Payment successful</AlertTitle>
        <AlertDescription>
            Your payment of $29.99 has been processed. A receipt has been sent to
            your email address.
        </AlertDescription>
    </RzAlert>
    <RzAlert Variant="ThemeVariant.Information">
        <AlertTitle>New feature available</AlertTitle>
        <AlertDescription>
            We've added dark mode support. You can enable it in your account
            settings.
        </AlertDescription>
    </RzAlert>
</div>