@namespace RizzyUI.Docs.Examples
@using RizzyUI

<div class="w-full max-w-sm">
    <RzAspectRatio Ratio="16.0 / 9.0" class="bg-muted rounded-lg">
        <img src="https://avatar.vercel.sh/shadcn1" 
             alt="Photo" 
             class="h-full w-full rounded-lg object-cover grayscale dark:brightness-20" />
    </RzAspectRatio>
</div>