@namespace RizzyUI.Docs.Examples
@using RizzyUI

<div class="flex w-full flex-wrap justify-center gap-2">
    <RzBadge>Badge</RzBadge>
    <RzBadge Variant="ThemeVariant.Secondary">Secondary</RzBadge>
    <RzBadge Variant="ThemeVariant.Destructive">Destructive</RzBadge>
    <RzBadge Variant="ThemeVariant.Default" Outline>Outline</RzBadge>
</div>