@namespace RizzyUI.Docs.Examples
@using RizzyUI

<div class="flex flex-wrap items-center gap-2 md:flex-row">
    <RzButton Variant="ThemeVariant.Default" Outline>Button</RzButton>
    <RzButton Variant="ThemeVariant.Default" Outline Size="Size.Medium" aria-label="Submit">
        <Blazicon Svg="@Lucide.ArrowUp" class="size-4" />
    </RzButton>
</div>