@namespace RizzyUI.Docs.Examples
@using RizzyUI

<RzEmpty>
	<EmptyHeader>
		<EmptyMedia>
			<div class="flex -space-x-2 *:ring-background *:size-12 *:ring-2 *:grayscale">
				<RzAvatar Size="Size.Large"><AvatarImage ImageSource="https://github.com/shadcn.png" /></RzAvatar>
				<RzAvatar Size="Size.Large"><AvatarImage ImageSource="https://github.com/maxleiter.png" /></RzAvatar>
				<RzAvatar Size="Size.Large"><AvatarImage ImageSource="https://github.com/evilrabbit.png" /></RzAvatar>
			</div>
		</EmptyMedia>
		<EmptyTitle>No Team Members</EmptyTitle>
		<EmptyDescription>
			Invite your team to collaborate on this project.
		</EmptyDescription>
	</EmptyHeader>
	<EmptyContent>
		<RzButton Size="Size.Small">
			<Blazicon Svg="@Lucide.Plus" />
			Invite Members
		</RzButton>
	</EmptyContent>
</RzEmpty>
