
@namespace RizzyUI.Docs.Examples
@using RizzyUI

<div class="flex items-center gap-2">
    <RzBadge>
        <RzSpinner Size="Size.ExtraSmall" class="mr-2" />
        Syncing
    </RzBadge>
    <RzBadge Variant="ThemeVariant.Secondary">
        <RzSpinner Size="Size.ExtraSmall" class="mr-2" />
        Updating
    </RzBadge>
    <RzBadge Variant="ThemeVariant.Default" Outline>
        <RzSpinner Size="Size.ExtraSmall" class="mr-2" />
        Loading
    </RzBadge>
</div>