@namespace RizzyUI.Docs.Examples
@using RizzyUI

<RzTooltip Anchor="AnchorPoint.Top">
    <TooltipTrigger asChild>
        <RzButton Variant="ThemeVariant.Default" Outline Size="Size.Medium">Hover</RzButton>
    </TooltipTrigger>
    <TooltipContent>
        <p>Add to library</p>
    </TooltipContent>
</RzTooltip>