/*! @import */
@import "tailwindcss";
@plugin "../../../RizzyUI/Scripts/rizzyui-tailwind/plugin";

@variant dark (&:where(.dark, .dark *));

h1:focus {
    outline: none;
}

.darker-border-checkbox.form-check-input {
    border-color: #929292;
}
