
@namespace RizzyUI
@inherits RzComponent
@typeparam TValue


@if (!string.IsNullOrEmpty(_effectiveDisplayName))
{
    <label for="@_for" @attributes="AdditionalAttributes" id="@Id" class="@RootClass()">
        @_effectiveDisplayName
        @ChildContent
    </label>
}
else
{
    @ChildContent
}