@namespace RizzyUI
@using Blazicons

@inherits RizzyComponent

<HtmlElement Element="@Element" @attributes="@AdditionalAttributes" class="@RootClass()">
    <!-- Navbar Toggle Button -->
    <button type="button" class="xl:hidden inline-block text-onSurface dark:text-onSurfaceDark" x-on:click="showSidebar = ! showSidebar">

        <div class="text-xl"><Blazicon Svg="MdiIcon.Menu" /></div>
        
        <span class="sr-only">@ScreenReaderText</span>
    </button>

    <div>
        @ChildContent
    </div>
</HtmlElement>

@code {
    private const string BaseStyle = "fixed top-0 z-50 hidden h-16 w-screen items-center justify-between border-outline bg-surfaceAlt/75 px-10 py-2 backdrop-blur-xl md:flex dark:border-outlineDark dark:bg-surfaceDarkAlt/40 border-b";

    /// <summary>
    /// Content inside the navbar
    /// </summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    /// <summary>
    /// Optional - Screen reader text to display as option to toggle side navigation for
    /// accessibility. Defaults to "Toggle side navigation"
    /// </summary>
    [Parameter] 
    public string? ScreenReaderText { get; set; } = "Toggle side navigation";

    protected override void OnInitialized()
    {
        base.OnInitialized();
        this.Element = "nav";
    }

    /// <summary>
    /// Generates a correctly merged root class for the navbar
    /// </summary>
    /// <returns></returns>
    protected override string? RootClass()
    {
        return TwMerge.Merge(AdditionalAttributes, BaseStyle);
    }
}
