@namespace RizzyUI
@using Blazicons

@inherits RizzyComponent

<HtmlElement Element="@Element" @attributes="@AdditionalAttributes" class="@RootClass()">
    <!-- Navbar Toggle Button -->
    <button type="button" class="md:hidden inline-block text-on-surface " x-on:click="toggleSidebar">

        <div class="text-xl"><Blazicon Svg="MdiIcon.Menu" /></div>

        <span class="sr-only">@ScreenReaderText</span>
    </button>

    <div class="h-full w-full flex items-center justify-between">
        @ChildContent
    </div>
</HtmlElement>

@code {
    private static readonly string BaseStyle = "fixed top-0 z-50 h-16 w-screen items-center justify-between border-outline bg-surface-alt/75 px-4 py-2 backdrop-blur-xl flex   border-b";

    /// <summary>
    /// Content inside the navbar
    /// </summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    /// <summary>
    /// Optional - Screen reader text to display as option to toggle side navigation for
    /// accessibility. Defaults to "Toggle side navigation"
    /// </summary>
    [Parameter] 
    public string? ScreenReaderText { get; set; } = "Toggle side navigation";

    /// <summary>
    /// Set the root element type to "nav"
    /// </summary>
    protected override void OnInitialized()
    {
        base.OnInitialized();
        this.Element = "nav";
    }

    /// <summary>
    /// Generates a correctly merged root class for the navbar
    /// </summary>
    /// <returns></returns>
    protected override string? RootClass()
    {
        return TwMerge.Merge(AdditionalAttributes, BaseStyle);
    }
}
