
@namespace RizzyUI
@inherits RzComponent<RzButtonGroup.Slots>

<CascadingValue Value="this" IsFixed="true">
	<div @attributes="AdditionalAttributes" id="@Id" class="@SlotClasses.GetBase()">
		@ChildContent
	</div>
</CascadingValue>