
@namespace RizzyUI
@inherits RzComponent


<CascadingValue Value="this" IsFixed="true">
	<div @attributes="AdditionalAttributes" id="@Id" class="@RootClass()">
		@ChildContent
	</div>
</CascadingValue>