
@namespace RizzyUI
@inherits RzComponent<CarouselContent.Slots>

<div class="@SlotClasses.GetViewport()" x-ref="viewport">
    <HtmlElement Element="@EffectiveElement"
                 @attributes="AdditionalAttributes"
                 id="@Id"
                 class="@SlotClasses.GetBase()"
                 x-ref="container">
        @ChildContent
    </HtmlElement>
</div>