
@namespace RizzyUI
@inherits RzComponent<CarouselContent.Slots>

<div class="@_slots.GetViewport()" x-ref="viewport">
    <HtmlElement Element="@EffectiveElement"
                 @attributes="AdditionalAttributes"
                 id="@Id"
                 class="@_slots.GetBase()"
                 x-ref="container">
        @ChildContent
    </HtmlElement>
</div>