@page "/demo/htmx-modal-sample"
@layout RizzyUI.Docs.Components.Layout.EmptyLayout
@using RizzyUI

<p>This content was loaded dynamically via an HTMX request!</p>
<RzAlert Variant="AlertVariant.Success">
	<RzAlertTitle>Success</RzAlertTitle>
	<RzAlertDescription>Content loaded successfully.</RzAlertDescription>
</RzAlert>
