
@page "/demo/htmx-sample"
@layout RizzyUI.Docs.Components.Layout.EmptyLayout
@using RizzyUI

<p>This content was loaded dynamically via an HTMX request!</p>
<RzAlert Variant="AlertVariant.Success">
	<AlertTitle>Success</AlertTitle>
	<AlertDescription>Content loaded successfully.</AlertDescription>
</RzAlert>