
@attribute [RzAlpineCodeBehind]
@using System.Text.Json
@using RizzyUI.Docs.Models

<RzAlpineComponent For="this" Name="userCard" Props="@User" LoadStrategy="visible" AsChild>
    <div class="border p-4 rounded-lg shadow-sm w-64">
        <h3 class="font-bold" x-text="user.name"></h3>
        <p class="text-sm text-muted-foreground" x-text="user.email"></p>
        <RzButton class="mt-2" x-on:click="showAlert">Show Alert</RzButton>
    </div>
</RzAlpineComponent>

@code {
    [Parameter, EditorRequired]
    public UserData User { get; set; } = default!;
}