@using Blazicons

@namespace RizzyUI

@inherits RizzyComponent

<CascadingValue Value="@this">
    <HtmlElement Element="@Element" @attributes="@AdditionalAttributes" class="@RootClass()" role="alert" aria-live="assertive" aria-labelledby="alert-title" aria-describedby="alert-description" x-cloak
                 x-show="showAlert"
                 x-data="rzAlert"
                 x-transition:enter="transition ease-out duration-200"
                 x-transition:enter-start="opacity-0"
                 x-transition:enter-end="opacity-100"
                 x-transition:leave="transition ease-in duration-100"
                 x-transition:leave-start="opacity-100"
                 x-transition:leave-end="opacity-0">
	    
	    <div class="@_bgLight flex w-full items-center gap-2 p-4">
            <div class="@_bgLighter @_iconColor text-2xl rounded-full p-1" aria-hidden="true">
			    @if (Icon != null)
			    {
				    <Blazicon Svg="Icon"></Blazicon>
			    }
		    </div>
		    <div class="ml-2">
			    @ChildContent
		    </div>
		    @if (Dismissable)
		    {
			    <button
				    type="button"
				    x-on:click="dismiss"
				    aria-label="Close alert"
				    class="ml-auto">

				    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" stroke="currentColor" fill="none" stroke-width="2.5" class="shrink-0 h-4 w-4">
					    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
				    </svg>
			    </button>
		    }
	    </div>
    </HtmlElement>
</CascadingValue>
