@namespace RizzyUI

@inherits RizzyComponent

<div @attributes="@AdditionalAttributes" class="@RootClass()">
    @ChildContent
</div>

@code
{
    private string _baseStyle = "text-xs font-medium sm:text-sm";

    [CascadingParameter]
    public AlertVariant Variant { get; set; } = AlertVariant.Information;

	/// <summary>
	/// Child content for the alert
	/// </summary>
	[Parameter]
	public RenderFragment? ChildContent { get; set; }

    protected override string? RootClass()
    {
        return TwMerge.Merge(AdditionalAttributes, _baseStyle);
    }

    protected override void OnInitialized()
    {
	    switch (Variant)
	    {
		    case AlertVariant.Information:
			    break;
		    case AlertVariant.Success:
			    break;
		    case AlertVariant.Warning:
			    break;
		    case AlertVariant.Danger:
			    break;
	    }

	    base.OnInitialized();
    }
}
