@namespace RizzyUI

@inherits RizzyComponent

<HtmlElement Element="div" @attributes="AdditionalAttributes" class="@RootClass()">
		<div x-data="rzDropdown" class="relative inline-block">
			<div
				class="inline-flex items-center justify-center space-x-2"
				aria-haspopup="true"
				x-bind:aria-expanded="dropdownOpen"
				x-on:click="toggleDropdown"
				x-on:keydown.space.prevent="openWithKeyboard"
				x-on:keydown.enter.prevent="openWithKeyboard"
				x-on:keydown.down.prevent="openWithKeyboard"
				x-on:keydown.esc.window="closeDropdown">
				<div>@Trigger</div>
			</div>
			<div x-cloak
                 x-show="dropdownOpen"
			     x-transition:enter="transition ease-out duration-100"
			     x-transition:enter-start="opacity-0 scale-90"
			     x-transition:enter-end="opacity-100 scale-100"
			     x-transition:leave="transition ease-in duration-75"
			     x-transition:leave-start="opacity-100 scale-100"
			     x-transition:leave-end="opacity-0 scale-90"
			     x-on:click.outside="closeDropdown"
                 x-trap.noscroll="openedWithKeyboard"
			     x-on:keydown.down.prevent="focusWrapNext" x-on:keydown.up.prevent="focusWrapPrevious"
			     role="menu"
			     aria-labelledby="rz-dropdown-trigger"
			     class="z-10 absolute right-0 mt-2 w-64 origin-top-right rounded-theme shadow-xl dark:shadow-gray-900">
				<div class="border border-outline divide-y divide-gray-100 rounded-lg bg-surface ring-black dark:divide-gray-700 dark:bg-surface-dark dark:border-outline-dark">
					@Content
				</div>
			</div>
		</div>
</HtmlElement>