@using System.Text.RegularExpressions
@inherits RizzyUI.RizzyComponent

@namespace RizzyUI

<CascadingValue Value="this">
    <div x-ref="@Parent?.ButtonRefId"
    role="tablist"
    @attributes="AdditionalAttributes"
    class="@RootClass()">
        @ChildContent
        <div x-ref="tabMarker" class="z-10 opacity-0 absolute left-0 h-full w-1/2 duration-300 ease-out after:absolute after:left-0 after:bottom-0 after:h-0.5 after:w-full after:bg-primary" x-cloak>
            <div class="h-full w-full"></div>
        </div>
    </div>
</CascadingValue>

@code {
    private const string BaseStyle = "bg-surface text-onSurface relative inline-grid gap-4 h-10 select-none items-center dark:bg-surfaceDark dark:text-onSurfaceDark";

    [CascadingParameter]
    private Tabs? Parent { get; set; } = default!;

    /// <summary>
    /// Horizontal alignment of tab content within the tab
    /// </summary>
    [Parameter] 
    public Justify Justify { get; set; } = Justify.Start;

    /// <summary>
    /// Child content for the tab strip, typically consisting of <see cref="Tab"/> components.
    /// </summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    /// <summary>
    /// Builds the root CSS class string for the tab strip.
    /// </summary>
    /// <returns>A string containing the combined CSS classes.</returns>
    protected override string? RootClass()
    {
        return TwMerge.Merge(AdditionalAttributes, BaseStyle, GetColumnsCss());
    }

    /// <summary>
    /// Determines the CSS class for the grid columns based on the number of tabs.
    /// </summary>
    /// <returns>A string representing the Tailwind CSS grid columns class.</returns>
    private string GetColumnsCss()
    {
        return Parent?._tabs.Count switch
        {
            1 => "grid-cols-1",
            2 => "grid-cols-2",
            3 => "grid-cols-3",
            4 => "grid-cols-4",
            5 => "grid-cols-5",
            6 => "grid-cols-6",
            7 => "grid-cols-7",
            8 => "grid-cols-8",
            9 => "grid-cols-9",
            10 => "grid-cols-10",
            11 => "grid-cols-11",
            12 => "grid-cols-12",
            _ => "grid-cols-1"
        };
    }
}
