@page "/"

<PageTitle>Home</PageTitle>


<h1>Hello, world!</h1>

Welcome to your new app.

<Button Variant="ButtonVariant.Primary" Size="ButtonSize.Large">Test</Button>
<Button Variant="ButtonVariant.Secondary" Size="ButtonSize.Large">Test</Button>
<Button Variant="ButtonVariant.Alternate" Size="ButtonSize.Large">Test</Button>
<Button Variant="ButtonVariant.Inverse" Size="ButtonSize.Large">Test</Button>
<Button Variant="ButtonVariant.Information" Size="ButtonSize.Large">Test</Button>
<Button Variant="ButtonVariant.Danger" Size="ButtonSize.Large">Test</Button>
<Button Variant="ButtonVariant.Warning" Size="ButtonSize.Large">Test</Button>
<Button Variant="ButtonVariant.Success" Size="ButtonSize.Large">Test</Button>
<Button Variant="ButtonVariant.Ghost" Size="ButtonSize.Large">Test</Button>

<Button Variant="ButtonVariant.Primary" Size="ButtonSize.Large" Outline>Test</Button>
<Button Variant="ButtonVariant.Secondary" Size="ButtonSize.Large" Outline>Test</Button>
<Button Variant="ButtonVariant.Alternate" Size="ButtonSize.Large" Outline>Test</Button>
<Button Variant="ButtonVariant.Inverse" Size="ButtonSize.Large" Outline>Test</Button>
<Button Variant="ButtonVariant.Information" Size="ButtonSize.Large" Outline>Test</Button>
<Button Variant="ButtonVariant.Danger" Size="ButtonSize.Large" Outline>Test</Button>
<Button Variant="ButtonVariant.Warning" Size="ButtonSize.Large" Outline>Test</Button>
<Button Variant="ButtonVariant.Success" Size="ButtonSize.Large" Outline>Test</Button>
<Button Variant="ButtonVariant.Ghost" Size="ButtonSize.Large" Outline>Test</Button>

<Alert Variant="AlertVariant.Information" Dismissable="true">
	<AlertTitle>Invalid Email Address</AlertTitle>
    <AlertDescription>The email address you entered is invalid. Please try again.</AlertDescription>
</Alert>