@page "/"

<PageTitle>Home</PageTitle>

<QuickReferenceContainer>
    <Article>
        <SideContent><QuickReference/></SideContent>
        <MainContent>
            <Heading Level="HeadingLevel.H1"
                     TextColor="Color.OnSurfaceStrong"
                     QuickReferenceTitle="RizzyUI Overview"
                     class="scroll-mt-20">
                RizzyUI Overview
            </Heading>

            <Paragraph>
                RizzyUI is a specialized component library crafted for ASP.NET developers aiming to enhance their server-side rendered (SSR) applications. By seamlessly integrating Razor components from Blazor, leveraging Tailwind CSS for styling, and utilizing Alpine.js for interactivity, RizzyUI provides a cohesive and efficient toolkit for building robust and maintainable web applications within the ASP.NET ecosystem.
            </Paragraph>

            <Heading Level="HeadingLevel.H2"
                     QuickReferenceTitle="Technological Foundations"
                     class="scroll-mt-20">
                Technological Foundations
            </Heading>

            <Heading Level="HeadingLevel.H3"
                     QuickReferenceTitle="Razor Components (Blazor)"
                     class="scroll-mt-20">
                Razor Components (Blazor)
            </Heading>
            <Paragraph>
                RizzyUI is built upon Razor components from Blazor, offering a powerful component-based architecture that promotes reusability and maintainability. This allows developers to construct complex user interfaces with ease, benefiting from the strong typing and tooling support inherent to the .NET environment.
            </Paragraph>

            <Heading Level="HeadingLevel.H3"
                     QuickReferenceTitle="Tailwind CSS"
                     class="scroll-mt-20">
                Tailwind CSS
            </Heading>
            <Paragraph>
                Incorporating Tailwind CSS, RizzyUI empowers developers to apply utility-first styling to components. Tailwind's extensive utility classes enable rapid development of responsive and consistent designs without the need for writing extensive custom CSS, ensuring a streamlined and efficient styling process.
            </Paragraph>

            <Heading Level="HeadingLevel.H3"
                     QuickReferenceTitle="Server-Side Rendering (SSR)"
                     class="scroll-mt-20">
                Server-Side Rendering (SSR)
            </Heading>
            <Paragraph>
                RizzyUI is designed with a focus on 100% server-side rendering. By generating all content on the server before delivering it to the client, RizzyUI enhances initial load times and improves SEO performance. This approach is particularly beneficial for applications where these factors are critical, such as corporate websites, blogs, and e-commerce platforms.
            </Paragraph>

            <Heading Level="HeadingLevel.H3"
                     QuickReferenceTitle="Alpine.js for Interactivity"
                     class="scroll-mt-20">
                Alpine.js for Interactivity
            </Heading>
            <Paragraph>
                To introduce interactivity within server-rendered components, RizzyUI leverages Alpine.js, a lightweight JavaScript framework. RizzyUI enhances Alpine.js integration in several key ways:
            </Paragraph>

            <ul class="list-disc list-outside ml-4 mb-4 space-y-4 ps-10">
                <li><strong>Directive-Based Initialization</strong>: All RizzyUI components are initialized using Alpine.js directives, ensuring a declarative and intuitive approach to adding interactivity.</li>
                <li><strong>Separate JavaScript Logic</strong>: All code and logic powering RizzyUI components reside in separate JavaScript files. This separation enables the use of Content Security Policies (CSP) by avoiding inline scripts, thereby enhancing the security posture of applications.</li>
                <li><strong>On-Demand Dependency Loading</strong>: RizzyUI intelligently loads necessary dependencies for components only when they are required. This lazy-loading mechanism minimizes the initial download size, improving load times by avoiding the loading of third-party JavaScript dependencies for unused components.</li>
                <li><strong>CSP Compatibility with Nonce Values</strong>: RizzyUI supports the use of nonce values for inline scripts and styles. This feature allows developers to implement strong CSPs while still utilizing RizzyUI, as nonces can be applied to permit the execution of necessary scripts and styles without compromising security.</li>
            </ul>

            <Paragraph>
                These enhancements ensure that RizzyUI not only provides rich interactivity but also aligns with modern security practices and performance optimization strategies.
            </Paragraph>

            <Heading Level="HeadingLevel.H2"
                     QuickReferenceTitle="Unique Advantages"
                     class="scroll-mt-20">
                Unique Advantages
            </Heading>

            <Heading Level="HeadingLevel.H3"
                     QuickReferenceTitle="Seamless Integration with ASP.NET"
                     class="scroll-mt-20">
                Seamless Integration with ASP.NET
            </Heading>
            <Paragraph>
                RizzyUI is designed to integrate smoothly with existing ASP.NET projects. Developers can effortlessly incorporate RizzyUI components into their applications, benefiting from the familiarity and robustness of the ASP.NET framework. This seamless integration ensures that RizzyUI fits naturally into established development workflows.
            </Paragraph>

            <Heading Level="HeadingLevel.H3"
                     QuickReferenceTitle="Prebuilt UI Components"
                     class="scroll-mt-20">
                Prebuilt UI Components
            </Heading>
            <Paragraph>
                Using a prebuilt UI component library like RizzyUI offers significant advantages. It provides a comprehensive set of ready-to-use, customizable components ranging from basic elements like buttons and forms to more complex widgets such as modals and cards. This allows developers to save time and maintain consistency across their applications without the need to build each component from scratch. Additionally, having a standardized set of components ensures a uniform look and feel, which enhances the overall user experience.
            </Paragraph>

            <Heading Level="HeadingLevel.H3"
                     QuickReferenceTitle="Performance and SEO Optimization"
                     class="scroll-mt-20">
                Performance and SEO Optimization
            </Heading>
            <Paragraph>
                With its emphasis on server-side rendering, RizzyUI ensures that applications are optimized for performance and search engine visibility. This makes RizzyUI an excellent choice for ASP.NET applications where these aspects are paramount, ensuring fast load times and better discoverability.
            </Paragraph>

            <Heading Level="HeadingLevel.H3"
                     QuickReferenceTitle="Flexibility and Customization"
                     class="scroll-mt-20">
                Flexibility and Customization
            </Heading>
            <Paragraph>
                RizzyUI offers a comprehensive set of customizable components that can be tailored to meet the specific needs of any ASP.NET project. Whether building simple interfaces or more complex layouts, RizzyUI provides the necessary building blocks to create polished and functional user interfaces, allowing for a high degree of flexibility and customization.
            </Paragraph>

            <Heading Level="HeadingLevel.H3"
                     QuickReferenceTitle="Compatibility with Rizzy Library"
                     class="scroll-mt-20">
                Compatibility with Rizzy Library
            </Heading>
            <Paragraph>
                RizzyUI pairs effectively with the Rizzy library, which facilitates interactivity with HTMX. This combination allows developers to create dynamic and responsive applications by leveraging both server-side rendering and client-side interactivity in a harmonious manner. Together, they provide a powerful toolkit for building modern web applications within the ASP.NET framework.
            </Paragraph>

            <Heading Level="HeadingLevel.H2"
                     QuickReferenceTitle="Implications for ASP.NET Development"
                     class="scroll-mt-20">
                Implications for ASP.NET Development
            </Heading>

            <Paragraph>
                RizzyUI offers a meaningful enhancement for developers working within the ASP.NET ecosystem. It provides a unified approach to building server-side rendered applications by combining the strengths of Razor components, Tailwind CSS, and Alpine.js. This integration supports the creation of maintainable and high-performance web applications, addressing common challenges faced in ASP.NET development.
            </Paragraph>

            <Paragraph>
                By focusing on seamless integration, the use of prebuilt components, and performance optimization, RizzyUI serves as a practical solution for enhancing server-side rendered applications within the ASP.NET framework. Its thoughtful combination of established technologies ensures that developers have the tools they need to build high-quality web applications efficiently and effectively.
            </Paragraph>

            <Paragraph>
                In summary, RizzyUI provides ASP.NET developers with a robust and efficient component library that simplifies the development of server-side rendered applications. Its integration of Razor components, Tailwind CSS, and Alpine.js, along with compatibility with the Rizzy library, makes it a valuable addition to the toolkit of developers aiming to build high-quality, maintainable, and performant web applications within the ASP.NET environment.
            </Paragraph>

            <hr />

            <Heading Level="HeadingLevel.H2"
                     QuickReferenceTitle="License"
                     class="scroll-mt-20">
                License
            </Heading>
            <Paragraph>
                This project is licensed under the <a href="LICENSE">MIT License</a>.
            </Paragraph>

            <Heading Level="HeadingLevel.H2"
                     QuickReferenceTitle="Support"
                     class="scroll-mt-20">
                Support
            </Heading>
            <Paragraph>
                For support, please open an issue on the <a href="https://github.com/jalexsocial/RizzyUI/issues">GitHub repository</a>.
            </Paragraph>

            <hr />

            <Paragraph>
                <strong>Happy Coding! 🚀</strong>
            </Paragraph>

        </MainContent>
    </Article>
</QuickReferenceContainer>

