@page "/"

<PageTitle>Home</PageTitle>


<h1>Hello, world!</h1>

Welcome to your new app.

<Button Variant="ButtonVariant.Primary" Size="ButtonSize.Large">Test</Button>
<Button Variant="ButtonVariant.Secondary" Size="ButtonSize.Large">Test</Button>
<Button Variant="ButtonVariant.Alternate" Size="ButtonSize.Large">Test</Button>
<Button Variant="ButtonVariant.Inverse" Size="ButtonSize.Large">Test</Button>
<Button Variant="ButtonVariant.Information" Size="ButtonSize.Large">Test</Button>
<Button Variant="ButtonVariant.Danger" Size="ButtonSize.Large">Test</Button>
<Button Variant="ButtonVariant.Warning" Size="ButtonSize.Large">Test</Button>
<Button Variant="ButtonVariant.Success" Size="ButtonSize.Large">Test</Button>
<Button Variant="ButtonVariant.Ghost" Size="ButtonSize.Large">Test</Button>

<Button Variant="ButtonVariant.Primary" Size="ButtonSize.Large" Outline>Test</Button>
<Button Variant="ButtonVariant.Secondary" Size="ButtonSize.Large" Outline>Test</Button>
<Button Variant="ButtonVariant.Alternate" Size="ButtonSize.Large" Outline>Test</Button>
<Button Variant="ButtonVariant.Inverse" Size="ButtonSize.Large" Outline>Test</Button>
<Button Variant="ButtonVariant.Information" Size="ButtonSize.Large" Outline>Test</Button>
<Button Variant="ButtonVariant.Danger" Size="ButtonSize.Large" Outline>Test</Button>
<Button Variant="ButtonVariant.Warning" Size="ButtonSize.Large" Outline>Test</Button>
<Button Variant="ButtonVariant.Success" Size="ButtonSize.Large" Outline>Test</Button>
<Button Variant="ButtonVariant.Ghost" Size="ButtonSize.Large" Outline>Test</Button>

<ResponsiveBrowser>
    <Alert Variant="AlertVariant.Information" Dismissable="true">
        <AlertTitle>Update Available</AlertTitle>
        <AlertDescription>A new version is available. Please update to the latest version.</AlertDescription>
    </Alert>
    <Alert Variant="AlertVariant.Success" Dismissable="true">
        <AlertTitle>Successfully Subscribed</AlertTitle>
        <AlertDescription>Success! You've subscribed to our newsletter. Welcome aboard!</AlertDescription>
    </Alert>
    <Alert Variant="AlertVariant.Warning" Dismissable="true">
        <AlertTitle>Credit Card Expires Soon</AlertTitle>
        <AlertDescription>Your credit card expires soon. Please update your payment information.</AlertDescription>
    </Alert>
    <Alert Variant="AlertVariant.Danger" Dismissable="true">
        <AlertTitle>Invalid Email Address</AlertTitle>
        <AlertDescription>The email address you entered is invalid. Please try again.</AlertDescription>
    </Alert>
</ResponsiveBrowser>