@page "/test"
@using Rizzy.Components
@using Rizzy
@using RizzyUI.Docs.Models
@using RizzyUI.Docs.Components.Pages.Components.Demo

<div class="mx-auto mb-5 flex flex-wrap items-center justify-center gap-4 p-8">

	@foreach (var user in _users)
	{
		<UserCard User="user" />
	}
</div>

@code {
	private List<UserData> _users = new()
	{
		new() { Id = 1, Name = "Alice", Email = "alice@example.com" },
		new() { Id = 2, Name = "Bob", Email = "bob@example.com" },
		new() { Id = 3, Name = "Charlie", Email = "charlie@example.com" }
	};
}