
@namespace RizzyUI
@inherits RzComponent<CommandEmpty.Slots>

<div @attributes="AdditionalAttributes"
     id="@Id"
     class="@SlotClasses.GetBase()"
     data-slot="command-empty"
     x-show="showEmpty"
     x-cloak>
    @ChildContent
</div>