
@namespace RizzyUI
@inherits RzComponent<CommandList.Slots>

<div @attributes="AdditionalAttributes"
     id="rz-command-list-@ParentCommand?.Id"
     class="@SlotClasses.GetBase()"
     data-slot="command-list"
     role="listbox"
     x-data="rzCommandList"
     x-on:rz:command:list-changed.window="renderList"
     x-on:click.capture="handleItemClick">
    
    @ChildContent

</div>