@using Blazicons

@namespace RizzyUI

@typeparam TValue
@inherits RizzyComponent

<HtmlElement Element="@Element" x-data="rzCheckboxGroupItem" @attributes="AdditionalAttributes" class="@RootClass()">
	<div class="relative">
		<RzInputCheckbox @bind-Value="IsChecked" class="@CheckboxClass" x-on:change="toggleCheckbox" x-ref="chk"/>
		<div class="absolute inset-0 flex items-center justify-center text-on-primary " :class="getIconCss">
			<Blazicon Svg="CheckedIcon"/>
        </div>
	</div>
	<span class="ml-2">@Title</span>
	@ChildContent
</HtmlElement>