@namespace RizzyUI
@using System.Linq.Expressions
@inherits RizzyComponent

<p @attributes="AdditionalAttributes" class="@RootClass()">
    @ChildContent
</p>

@code
{
    private static readonly string BaseStyle = "text-sm text-on-surface ";

	/// <summary>
	/// Child content for the field help
	/// </summary>
	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	protected override string? RootClass()
	{
		return TwMerge.Merge(AdditionalAttributes, BaseStyle);
	}
}
