@namespace RizzyUI
@using Blazicons
@inherits RizzyComponent

<Card class="@RootClass()">
    <CardHeader>
        <div>
            <CardTitle class="text-xl">
                @if (Icon != null)
                {
	                <span class="text-primary mr-4 inline-block text-2xl"><Blazicon Svg="Icon"/></span>
                } @Title</CardTitle>
        </div>
    </CardHeader>
    <CardBody class="md:flex md:space-x-5">
        <p class="mb-5 text-sm text-gray-500 dark:text-gray-400 md:w-1/3 md:flex-none">
            @if (Description != null)
            {
                @Description
            }
        </p>
        <div class="space-y-6 md:w-1/2">
            @Content
        </div>
    </CardBody>
</Card>

@code {
    private static readonly string BaseStyle = "";

    [Parameter, EditorRequired]
	public string Title { get; set; } = string.Empty;

	[Parameter]
	public SvgIcon? Icon { get; set; } 

	[Parameter]
	public RenderFragment? Description { get; set; }

	[Parameter]
	public RenderFragment? Content { get; set; }

	protected override string? RootClass()
	{
		return TwMerge.Merge(AdditionalAttributes, BaseStyle);
	}
}
