@namespace RizzyUI
@using Blazicons
@inherits RzComponent

<HtmlElement Element="span" @attributes="AdditionalAttributes" class="@RootClass()">
    <span class="@InnerSpanClass">
	    <span class="flex items-center gap-1"> @* Keep inner flex for alignment *@
		    @if (Icon != null)
		    {
			    <Blazicon Svg="Icon"/>
		    }
		    @ChildContent @Label
	    </span>
	</span>
</HtmlElement>

