
@namespace RizzyUI
@using Blazicons
@inherits RzComponent

<HtmlElement Element="span" @attributes="AdditionalAttributes" class="@RootClass()">
    <span class="@Theme.RzBadge.InnerSpan">
	    <span class="flex items-center gap-1"> 
		    @if (Icon != null)
		    {
			    <Blazicon Svg="Icon"/>
		    }
		    @ChildContent @Label
	    </span>
	</span>
</HtmlElement>