
@typeparam TValue
@namespace RizzyUI
@using Rizzy
@inherits RzComponent<RzRadioGroupSlots>

<CascadingValue Value="this" IsFixed="true">
    <RzInputRadioGroup TValue="TValue" ValueExpression="@For" Id="@Id" Name="@Name">
        <div @attributes="AdditionalAttributes" class="@SlotClasses.GetBase()">
            @ChildContent
        </div>
    </RzInputRadioGroup>
</CascadingValue>