
@typeparam TValue
@namespace RizzyUI
@inherits RzComponent

<CascadingValue Value="this" IsFixed="true">

    <RzInputRadioGroup TValue="TValue" ValueExpression="@For" Value="CurrentValue" Name="@Name">
        <div @attributes="AdditionalAttributes" class="@RootClass()">
            @ChildContent
        </div>
    </RzInputRadioGroup>
</CascadingValue>