@namespace RizzyUI
@inherits RizzyUI.RizzyComponent

<!-- Card Body -->
<div @attributes="AdditionalAttributes" class="@RootClass()">
    @ChildContent
</div>

@code
{
    private static readonly string BaseStyle = "grow p-5";

	/// <summary>
	/// Child content for the card body
	/// </summary>
	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	/// <summary>
	/// Background color
	/// </summary>
	[Parameter]
	public SemanticColor BackgroundColor { get; set; } = SemanticColor.None;

	/// <summary>
	/// Text color
	/// </summary>
	[Parameter]
	public SemanticColor TextColor { get; set; } = SemanticColor.None;

	/// <inheritdoc cref="RizzyComponent"/>
	protected override string? RootClass()
	{
		return TwMerge.Merge(AdditionalAttributes, BaseStyle, BackgroundColor.ToBackgroundClass(), TextColor.ToTextClass());
	}

}