
@namespace RizzyUI
@inherits RzComponent<RzAccordion.Slots>

<HtmlElement Element="div"
             @attributes="@AdditionalAttributes"
             class="@_slots.GetBase()">
	<div x-data="rzAccordion" data-alpine-root="@Id" data-multiple="@(Type == AccordionType.Multiple ? "true" : "false")" data-slot="accordion">
		@ChildContent
	</div>
</HtmlElement>