
@inherits LayoutComponentBase
@using System.Reflection
@using RizzyUI
@using Blazicons

<RzSidebarProvider>
    <Sidebar>
        <SidebarHeader>
            <SidebarMenu>
                <SidebarMenuItem>
                    <SidebarMenuButton Size="Size.Large" AsChild>
                        <a href="/">
                            <img src="/images/rizzy-icon.svg" class="size-10" alt="RizzyUI Icon" />

                            <div class="flex flex-col gap-0.5 leading-none">
                                <span class="font-medium">RizzyUI Docs</span>
                                <span class="text-xs">v@(typeof(RzComponent).Assembly.GetName().Version)</span>
                            </div>
                        </a>
                    </SidebarMenuButton>
                </SidebarMenuItem>
            </SidebarMenu>
        </SidebarHeader>
        <SidebarContent>
            <SidebarGroup>
                <SidebarMenu>
                    <SidebarMenuItem>
                        <SidebarMenuButton AsChild>
                            <a href="/" class="font-medium">Home</a>
                        </SidebarMenuButton>
                    </SidebarMenuItem>
                    <SidebarMenuItem>
                        <SidebarMenuButton AsChild>
                            <a href="/themes" class="font-medium">Themes</a>
                        </SidebarMenuButton>
                    </SidebarMenuItem>
                    <SidebarMenuItem>
                        <SidebarMenuButton AsChild>
                            <a href="/components" class="font-medium" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML">Components</a>
                        </SidebarMenuButton>
                    </SidebarMenuItem>
                    <SidebarMenuItem>
                        <SidebarMenuButton AsChild>
                            <a href="#" class="font-medium">Interactivity</a>
                        </SidebarMenuButton>
                        <SidebarMenuSub>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/docs/interactivity/introduction" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Introduction</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/docs/interactivity/alpine-fundamentals" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Alpine.js Fundamentals</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/docs/interactivity/alpine-code-behind" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Your First Code-Behind</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/docs/interactivity/state-reactivity" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>State and Reactivity</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/docs/interactivity/lifecycle" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Lifecycle and Initialization</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/docs/interactivity/lazy-loading" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Optimizing with Lazy Loading</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/docs/interactivity/plugins" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Plugins & Directives</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/docs/interactivity/orchestration" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Advanced: Orchestration</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/docs/interactivity/debugging" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Debugging and Best Practices</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/co-located-js" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Additional Examples</span></a></SidebarMenuButton></SidebarMenuItem>
                        </SidebarMenuSub>
                    </SidebarMenuItem>
                    <SidebarMenuItem>
                        <SidebarMenuButton AsChild>
                            <a href="#" class="font-medium">Forms</a>
                        </SidebarMenuButton>
                        <SidebarMenuSub>
                            <SidebarMenuItem>
                                <SidebarMenuButton AsChild>
                                    <a href="/components/buttons" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Button</span></a>
                                </SidebarMenuButton>
                            </SidebarMenuItem>
                            <SidebarMenuItem>
                                <SidebarMenuButton AsChild>
                                    <a href="/components/button-group" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Button Group</span></a>
                                </SidebarMenuButton>
                            </SidebarMenuItem>
                            <SidebarMenuItem>
                                <SidebarMenuButton AsChild>
                                    <a href="/components/calendar" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Calendar</span></a>
                                </SidebarMenuButton>
                            </SidebarMenuItem>         
                            <SidebarMenuItem>
                                <SidebarMenuButton AsChild>
                                    <a href="/components/calendar-provider" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Calendar Provider</span></a>
                                </SidebarMenuButton>
                            </SidebarMenuItem>                             
                            <SidebarMenuItem>
                                <SidebarMenuButton AsChild>
                                    <a href="/components/checkbox" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Checkbox</span></a>
                                </SidebarMenuButton>
                            </SidebarMenuItem>
                            <SidebarMenuItem>
                                <SidebarMenuButton AsChild>
                                    <a href="/components/combobox" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Combobox</span></a>
                                </SidebarMenuButton>
                            </SidebarMenuItem>                            
                            <SidebarMenuItem>
                                <SidebarMenuButton AsChild>
                                    <a href="/components/input" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Input</span></a>
                                </SidebarMenuButton>
                            </SidebarMenuItem>
                            <SidebarMenuItem>
                                <SidebarMenuButton AsChild>
                                    <a href="/components/native-select" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Native Select</span></a>
                                </SidebarMenuButton>
                            </SidebarMenuItem>                            
                            <SidebarMenuItem>
                                <SidebarMenuButton AsChild>
                                    <a href="/components/radiogroup" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Radio Group</span></a>
                                </SidebarMenuButton>
                            </SidebarMenuItem>
                            <SidebarMenuItem>
                                <SidebarMenuButton AsChild>
                                    <a href="/components/switch" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Switch</span></a>
                                </SidebarMenuButton>
                            </SidebarMenuItem>
                            <SidebarMenuItem>
                                <SidebarMenuButton AsChild>
                                    <a href="/components/toggle" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Toggle</span></a>
                                </SidebarMenuButton>
                            </SidebarMenuItem>
                        </SidebarMenuSub>
                    </SidebarMenuItem>
                    <SidebarMenuItem>
                        <SidebarMenuButton AsChild>
                            <a href="#" class="font-medium">Navigation</a>
                        </SidebarMenuButton>
                        <SidebarMenuSub>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/breadcrumb" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Breadcrumb</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/collapsible" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Collapsible</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/command" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Command</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/dropdown" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Dropdown Menu</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/link" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Link</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/menubar" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Menubar</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/navigation-menu" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Navigation Menu</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/scroll-area" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Scroll Area</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/popover" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Popover</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/pagination" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Pagination</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/sidebar" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Sidebar</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/tabs" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Tabs</span></a></SidebarMenuButton></SidebarMenuItem>
                        </SidebarMenuSub>
                    </SidebarMenuItem>
                    <SidebarMenuItem>
                        <SidebarMenuButton AsChild>
                            <a href="#" class="font-medium">Display</a>
                        </SidebarMenuButton>
                        <SidebarMenuSub>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/avatar" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Avatar</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/badge" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Badge</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/kbd" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Kbd</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/item" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Item</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/separator" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Separator</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/table" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Table</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/progress" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Progress</span></a></SidebarMenuButton></SidebarMenuItem>
                        </SidebarMenuSub>
                    </SidebarMenuItem>
                    <SidebarMenuItem>
                        <SidebarMenuButton AsChild>
                            <a href="#" class="font-medium">Feedback</a>
                        </SidebarMenuButton>
                        <SidebarMenuSub>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/alert" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Alert</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/dialog" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Dialog</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/toastnotification" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Toast Notification</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/tooltip" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Tooltip</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/sheet" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Sheet</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/empty" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Empty</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/spinner" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Spinner</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/skeleton" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Skeleton</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/steps" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Steps</span></a></SidebarMenuButton></SidebarMenuItem>
                        </SidebarMenuSub>
                    </SidebarMenuItem>
                    <SidebarMenuItem>
                        <SidebarMenuButton AsChild>
                            <a href="#" class="font-medium">Layout</a>
                        </SidebarMenuButton>
                        <SidebarMenuSub>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/accordion" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Accordion</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/aspect-ratio" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Aspect Ratio</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/card" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Card</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/carousel" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Carousel</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/markdown" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Markdown</span></a></SidebarMenuButton></SidebarMenuItem>
                        </SidebarMenuSub>
                    </SidebarMenuItem>
                </SidebarMenu>
            </SidebarGroup>
        </SidebarContent>
    </Sidebar>

    <!-- Main Content Area -->
    <SidebarInset class="h-screen">
        <header class="bg-secondary/75 flex h-16 shrink-0 items-center items-center justify-between gap-2 border-b px-4 py-2 backdrop-blur-xl transition-[width,height] ease-in-out group-has-data-[collapsible=icon]/sidebar-wrapper:h-12">
            <div class="flex items-center gap-2">
                <SidebarTrigger />
                <RzSeparator Orientation="Orientation.Vertical" class="mr-2 h-10" />
                <div data-slot="header-logo" class="w-32 shrink-0 overflow-hidden px-2 opacity-0 transition-[opacity]
    duration-200 group-has-[[data-state=collapsed]]/sidebar-wrapper:py-2
    group-has-[[data-state=collapsed]]/sidebar-wrapper:opacity-100
    md:w-50"><img src="/images/rizzy-logo-wb.svg" alt="RizzyUI" class="h-full w-full"></div>
            </div>

            <!-- Right-aligned items -->
            <div class="flex items-center gap-4">
                <RzPopover>
                    <PopoverTrigger AsChild>
                        <RzSearchButton class="bg-background h-8" />
                    </PopoverTrigger>
                
                    <PopoverContent class="p-0 md:min-w-[450px]">
                        <RzCommand class="rounded-lg border shadow-md md:min-w-[450px]">
                            <CommandInput Placeholder="Type a command or search..." />
                            <CommandList>
                                <CommandEmpty>No results found.</CommandEmpty>
                
                                <CommandGroup Heading="Main">
                                    <CommandItem Value="Home"
                                                 hx-get="/components/"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Home</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Themes"
                                                 hx-get="/components/themes"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Themes</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Components"
                                                 hx-get="/components"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Components</span>
                                    </CommandItem>
                                </CommandGroup>
                
                                <CommandSeparator />
                
                                <CommandGroup Heading="Interactivity">
                                    <CommandItem Value="Introduction"
                                                 hx-get="/components/docs/interactivity/introduction"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Introduction</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Alpine.js Fundamentals"
                                                 hx-get="/components/docs/interactivity/alpine-fundamentals"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Alpine.js Fundamentals</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Your First Code-Behind"
                                                 hx-get="/components/docs/interactivity/alpine-code-behind"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Your First Code-Behind</span>
                                    </CommandItem>
                
                                    <CommandItem Value="State and Reactivity"
                                                 hx-get="/components/docs/interactivity/state-reactivity"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>State and Reactivity</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Lifecycle and Initialization"
                                                 hx-get="/components/docs/interactivity/lifecycle"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Lifecycle and Initialization</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Optimizing with Lazy Loading"
                                                 hx-get="/components/docs/interactivity/lazy-loading"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Optimizing with Lazy Loading</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Plugins & Directives"
                                                 hx-get="/components/docs/interactivity/plugins"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Plugins & Directives</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Advanced: Orchestration"
                                                 hx-get="/components/docs/interactivity/orchestration"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Advanced: Orchestration</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Debugging and Best Practices"
                                                 hx-get="/components/docs/interactivity/debugging"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Debugging and Best Practices</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Additional Examples"
                                                 hx-get="/components/co-located-js"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Additional Examples</span>
                                    </CommandItem>
                                </CommandGroup>
                
                                <CommandSeparator />
                
                                <CommandGroup Heading="Forms">
                                    <CommandItem Value="Button"
                                                 hx-get="/components/buttons"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Button</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Button Group"
                                                 hx-get="/components/button-group"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Button Group</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Calendar"
                                                 hx-get="/components/calendar"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Calendar</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Calendar Provider"
                                                 hx-get="/components/calendar-provider"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Calendar Provider</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Checkbox"
                                                 hx-get="/components/checkbox"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Checkbox</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Combobox"
                                                 hx-get="/components/combobox"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Combobox</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Input"
                                                 hx-get="/components/input"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Input</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Native Select"
                                                 hx-get="/components/native-select"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Native Select</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Radio Group"
                                                 hx-get="/components/radiogroup"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Radio Group</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Switch"
                                                 hx-get="/components/switch"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Switch</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Toggle"
                                                 hx-get="/components/toggle"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Toggle</span>
                                    </CommandItem>
                                </CommandGroup>
                
                                <CommandSeparator />
                
                                <CommandGroup Heading="Navigation">
                                    <CommandItem Value="Breadcrumb"
                                                 hx-get="/components/breadcrumb"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Breadcrumb</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Collapsible"
                                                 hx-get="/components/collapsible"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Collapsible</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Command"
                                                 hx-get="/components/command"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Command</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Dropdown Menu"
                                                 hx-get="/components/dropdown"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Dropdown Menu</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Link"
                                                 hx-get="/components/link"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Link</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Menubar"
                                                 hx-get="/components/menubar"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Menubar</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Navigation Menu"
                                                 hx-get="/components/navigation-menu"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Navigation Menu</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Scroll Area"
                                                 hx-get="/components/scroll-area"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Scroll Area</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Popover"
                                                 hx-get="/components/popover"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Popover</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Pagination"
                                                 hx-get="/components/pagination"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Pagination</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Sidebar"
                                                 hx-get="/components/sidebar"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Sidebar</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Tabs"
                                                 hx-get="/components/tabs"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Tabs</span>
                                    </CommandItem>
                                </CommandGroup>
                
                                <CommandSeparator />
                
                                <CommandGroup Heading="Display">
                                    <CommandItem Value="Avatar"
                                                 hx-get="/components/avatar"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Avatar</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Badge"
                                                 hx-get="/components/badge"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Badge</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Kbd"
                                                 hx-get="/components/kbd"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Kbd</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Item"
                                                 hx-get="/components/item"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Item</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Separator"
                                                 hx-get="/components/separator"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Separator</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Table"
                                                 hx-get="/components/table"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Table</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Progress"
                                                 hx-get="/components/progress"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Progress</span>
                                    </CommandItem>
                                </CommandGroup>
                
                                <CommandSeparator />
                
                                <CommandGroup Heading="Feedback">
                                    <CommandItem Value="Alert"
                                                 hx-get="/components/alert"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Alert</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Dialog"
                                                 hx-get="/components/dialog"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Dialog</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Toast Notification"
                                                 hx-get="/components/toastnotification"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Toast Notification</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Tooltip"
                                                 hx-get="/components/tooltip"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Tooltip</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Sheet"
                                                 hx-get="/components/sheet"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Sheet</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Empty"
                                                 hx-get="/components/empty"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Empty</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Spinner"
                                                 hx-get="/components/spinner"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Spinner</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Skeleton"
                                                 hx-get="/components/skeleton"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Skeleton</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Steps"
                                                 hx-get="/components/steps"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Steps</span>
                                    </CommandItem>
                                </CommandGroup>
                
                                <CommandSeparator />
                
                                <CommandGroup Heading="Layout">
                                    <CommandItem Value="Accordion"
                                                 hx-get="/components/accordion"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Accordion</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Aspect Ratio"
                                                 hx-get="/components/aspect-ratio"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Aspect Ratio</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Card"
                                                 hx-get="/components/card"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Card</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Carousel"
                                                 hx-get="/components/carousel"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Carousel</span>
                                    </CommandItem>
                
                                    <CommandItem Value="Markdown"
                                                 hx-get="/components/markdown"
                                                 hx-push-url="true"
                                                 hx-select="#content"
                                                 hx-target="#content"
                                                 hx-swap="outerHTML">
                                        <span>Markdown</span>
                                    </CommandItem>
                                </CommandGroup>
                            </CommandList>
                        </RzCommand>
                    </PopoverContent>
                </RzPopover>

                <RzDarkModeToggle/>
            </div>
        </header>

        <main class="flex flex-1 flex-col overflow-y-auto" id="content">
            <div class="flex flex-1 flex-col gap-4 p-4">
                @Body
            </div>
            <Footer />
        </main>
    </SidebarInset>
</RzSidebarProvider>

@code {
    [CascadingParameter]
    private RzTheme Theme { get; set; } = null!;
}