@inherits LayoutComponentBase
@using RizzyUI

<Sidebar>
    <NavbarContent>
        <Navbar>
            <div>
                <!-- logo  -->
                <a href="/" class="text-2xl font-bold text-black dark:text-white">
                    <span class="sr-only">RizzyUI Home</span>
                    <div class="w-28 md:w-44 px-2">
<svg version="1.1" class="w-full h-full fill-black dark:fill-white transition-colors ease-in-out duration-500" xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 407 131.73" xml:space="preserve">
  <g>
    <g>
      <path d="M32.98,68.65h-2.12v24.03H7.53V22.2C27.91,22.47,68.22,17.16,66,45.12c0,8.58-3.53,13.83-11.81,19.19l16.76,28.38H45.2
        L32.98,68.65z M30.86,53.2c5.88,0.42,11.85-0.12,11.41-8.08c0.33-6.53-6.03-7.49-11.41-7.07V53.2z"/>
      <path d="M94.78,19.47c0.31,15.47-25.02,15.57-24.74,0C69.76,3.9,95.09,4,94.78,19.47z M93.57,92.68H71.15V38.56h22.42V92.68z"/>
      <path d="M143.75,54.01l-20.8,22.32h21.71l-1.92,16.36H96.8V77.13L118,54.71H98.71V38.56h45.04V54.01z"/>
      <path d="M191.72,54.01l-20.8,22.32h21.71l-1.92,16.36h-45.95V77.13l21.21-22.42h-19.29V38.56h45.04V54.01z"/>
      <path d="M233.42,92.48c-4.65,15.65-16.66,23.43-35.55,23.63l-2.42-15.15c10.3-0.81,14.95-2.73,17.67-8.28h-7.78l-14.74-54.13
        h23.73l5.15,40.6l7.17-40.6h23.02L233.42,92.48z"/>
      <path class="fill-[#0095FF]" d="M310.37,68.45c2.37,34.67-63.12,35.87-60.59,0c0,0,0-46.25,0-46.25h23.33v45.64c0,7.17,1.82,10.4,6.97,10.4
        c5.15,0,6.97-3.23,6.97-10.4V22.2h23.33V68.45z"/>
      <path class="fill-[#0095FF]" d="M338.95,92.68h-23.33V22.2h23.33V92.68z"/>
    </g>
    <g>
      <path class="[fill-rule:evenodd] [clip-rule:evenodd] fill-[#00FF3C]" d="M378.77,100.19c-2.37,5.54-3.93,11.56-7.34,15.92l-2.18-2.85c7-13.8,10.85-24.05,12.56-40.34
        c1.27-12.22,0.69-23.73-2.69-36.14c-1.8-6.61-4.52-14.7-8.59-20.53c-1.11-1.59-2.36-3.1-3.81-4.5
        c11.27,19.25,15.19,38.95,13,59.44c-0.89,8.36-2.78,16.63-5.22,24.85l-6.53-5.32l3.43,1.58l-6.95-10.4
        c4.12,2.48,6.79,6.19,8.9,6.25c-8.1-9.85-13.27-19.28-14.67-27.89c2.07,1.82,4.4,3.97,6.01,4.74c-5.47-11.63-5.3-21.33-6.96-31.96
        c6.2,10.21,13.7,18.09,17.27,19.13c-14.81-14.58-19.96-27.92-13.55-39.8c0.76-1.21,1.72-2.21,2.92-2.95
        c7.84-4.84,22.3,6.77,20.7,16.16c-0.32,1.88-0.22,4.04-0.58,6.22l3.19-10.43c6.77,14.38,3.88,18.64-2.08,34.52
        c2.99-3.51,5.12-7.34,6.8-11.34c7.86,18.51-0.05,34.06-9.68,44.01c3.96-2.8,7.81-7.59,11.58-13.58c0.05,7.41-1.72,14.05-8.74,18.5
        l2.44,1.23l-4.17,1.93l3.71,1.78L378.77,100.19L378.77,100.19z"/>
      <path class="fill-black" d="M368.6,8.31c7.87,0,17.81,9.43,16.47,17.3c-0.32,1.88-0.22,4.04-0.58,6.22l3.19-10.43c6.77,14.38,3.88,18.64-2.08,34.52
        c2.99-3.51,5.12-7.34,6.8-11.34c7.86,18.51-0.05,34.06-9.68,44.01c3.96-2.8,7.81-7.59,11.58-13.58c0.05,7.41-1.72,14.05-8.74,18.5
        l2.44,1.23l-4.17,1.93l3.71,1.78l-8.76,1.74c-2.37,5.54-3.93,11.56-7.34,15.92l-2.18-2.85c7-13.8,10.85-24.05,12.56-40.34
        c1.27-12.22,0.69-23.73-2.69-36.14c-1.8-6.61-4.52-14.7-8.59-20.53c-1.11-1.59-2.36-3.1-3.81-4.5
        c11.27,19.25,15.19,38.95,13,59.44c-0.89,8.36-2.78,16.63-5.22,24.85l-6.53-5.32l3.43,1.58l-6.95-10.4
        c4.12,2.48,6.79,6.19,8.9,6.25c-8.1-9.85-13.27-19.28-14.67-27.89c2.07,1.82,4.4,3.97,6.01,4.74c-5.47-11.63-5.3-21.33-6.96-31.96
        c6.2,10.21,13.7,18.09,17.27,19.13c-14.81-14.58-19.96-27.92-13.55-39.8c0.76-1.21,1.72-2.21,2.92-2.95
        C365.64,8.66,367.08,8.31,368.6,8.31 M368.6,6.31c-1.96,0-3.74,0.48-5.28,1.43c-1.42,0.87-2.62,2.08-3.57,3.59l-0.03,0.06
        l-0.03,0.06c-2.93,5.43-3.67,11.21-2.23,17.33l-3.27-5.38l1.56,9.98c0.39,2.52,0.69,5.05,0.98,7.49
        c0.68,5.76,1.37,11.67,3.41,18.03L360,58.77l-4.18-3.67l0.89,5.49c0.96,5.92,3.63,12.32,7.98,19.13l-6.88-4.14l4.98,7.44
        l3.01,4.51l-11.31-5.2l12.21,9.95l6.53,5.32l0.69,0.56c-1.77,4.63-3.92,9.2-6.45,14.19l-0.57,1.12l0.76,1l2.18,2.85l1.57,2.06
        l1.59-2.04c2.62-3.36,4.21-7.57,5.74-11.64c0.47-1.24,0.95-2.52,1.46-3.76l7.71-1.53l5.88-1.17l-5.29-2.54l0.32-0.15l3.75-1.73
        l-3.25-1.64c6.25-5.47,7-12.85,6.96-18.18l-0.03-5.33c2.05-7.38,2.13-16.11-2.02-25.88l-1.27-2.98
        c1.35-6.07,0.68-11.42-3.48-20.26l-2.21-4.69l-1.06,3.45c-0.71-1.81-1.82-3.62-3.28-5.36C379.02,9.31,373.39,6.31,368.6,6.31
        L368.6,6.31z"/>
    </g>
  </g>
</svg>
                    </div>
                </a>            
            </div>
            <div class="flex items-center gap-4">
                <DarkmodeToggle/>
            </div>
        </Navbar>
    </NavbarContent>
    <MenuContent>


        <!-- search  -->
        <div class="relative my-4 flex w-full max-w-xs flex-col gap-1 text-slate-700 dark:text-slate-300">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-width="2" class="-translate-y-1/2 text-slate-700/50 absolute left-2 top-1/2 size-5 dark:text-slate-300/50" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"/>
            </svg>
            <input type="search" class="w-full rounded-xl border border-slate-300 bg-white px-2 py-1.5 pl-9 text-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-700 disabled:cursor-not-allowed disabled:opacity-75 dark:border-slate-700 dark:bg-slate-900/50 dark:focus-visible:outline-blue-600" name="search" aria-label="Search" placeholder="Search"/>
        </div>

        <SidebarLinks>
            <SidebarLinkItem Icon="MdiIcon.ViewDashboard" Title="Home" Href="/"/>
            <SidebarLinkItem Icon="MdiIcon.PaletteSwatchVariant" Title="Themes" Href="/themes" />

            <SidebarLinkItem Icon="MdiIcon.FormSelect" Title="Forms" Collapsible="false">
                <SidebarLinkItem Title="Buttons" Href="/components/buttons" />
                <SidebarLinkItem Title="Checkbox" Href="/components/checkboxgroup" />
                <SidebarLinkItem Title="Text" Href="/components/textedit" />
                <!--
                <SidebarLinkItem Title="Combobox" Href="/components/combobox" />
                <SidebarLinkItem Title="Counter" Href="/components/counter" />
                <SidebarLinkItem Title="File Input" Href="/components/fileinput" />
                <SidebarLinkItem Title="Radio" Href="/components/radio" />
                <SidebarLinkItem Title="Range" Href="/components/range" />
                <SidebarLinkItem Title="Rating" Href="/components/rating" />
                <SidebarLinkItem Title="Select" Href="/components/select" />
                <SidebarLinkItem Title="Text Input" Href="/components/textinput" />
                <SidebarLinkItem Title="Textarea" Href="/components/textarea" />
                <SidebarLinkItem Title="Toggle" Href="/components/toggle" />
                -->
            </SidebarLinkItem>

            <SidebarLinkItem Icon="MdiIcon.Navigation" Title="Navigation" Collapsible="false">
                <SidebarLinkItem Title="Breadcrumb" Href="/components/breadcrumb" />
                <SidebarLinkItem Title="Dropdown" Href="/components/dropdown" />
                <SidebarLinkItem Title="Link" Href="/components/link" />
                <SidebarLinkItem Title="Navbar" Href="/components/navbar" />
                <!--
                <SidebarLinkItem Title="Paginations" Href="/components/paginations" />
                -->
                <SidebarLinkItem Title="Sidebar" Href="/components/sidebar" />
                <SidebarLinkItem Title="Tabs" Href="/components/tabs" />
            </SidebarLinkItem>

            <SidebarLinkItem Icon="MdiIcon.ViewList" Title="Display" Collapsible="false">
                <SidebarLinkItem Title="Avatar" Href="/components/avatar" hx-boost="true"/>
                <SidebarLinkItem Title="Badge" Href="/components/badge" />
                <SidebarLinkItem Title="Divider" Href="/components/divider" />
                <SidebarLinkItem Title="Table" Href="/components/table" />
                <SidebarLinkItem Title="Progress" Href="/components/progress" />
                <!--
                <SidebarLinkItem Title="Counter" Href="/components/counter" />
                <SidebarLinkItem Title="Rating" Href="/components/rating" />
                -->
            </SidebarLinkItem>

            <SidebarLinkItem Icon="MdiIcon.Alert" Title="Feedback" Collapsible="false">
                <SidebarLinkItem Title="Alert" Href="/components/alert" />
                <SidebarLinkItem Title="Toast Notification" Href="/components/toastnotification" />
                <SidebarLinkItem Title="Modal" Href="/components/modal" />
                <SidebarLinkItem Title="Tooltip" Href="/components/tooltip" />
                <SidebarLinkItem Title="Spinner" Href="/components/spinner" />
                <SidebarLinkItem Title="Skeleton" Href="/components/skeleton" />
                <SidebarLinkItem Title="Steps" Href="/components/steps" />
            </SidebarLinkItem>

            <SidebarLinkItem Icon="MdiIcon.ViewGrid" Title="Layout" Collapsible="false">
                <SidebarLinkItem Title="Card" Href="/components/card" />
                <SidebarLinkItem Title="Markdown" Href="/components/markdown" />
                <SidebarLinkItem Title="Accordion" Href="/components/accordion" />
                <!--
                <SidebarLinkItem Title="Banner" Href="/components/banner" />
                <SidebarLinkItem Title="Carousel" Href="/components/carousel" />
                <SidebarLinkItem Title="Chat Bubble" Href="/components/chatbubble" />
                -->
            </SidebarLinkItem>
            <!--
            <SidebarLinkItem Icon="MdiIcon.Apps" Title="Miscellaneous" Collapsible="false">
                <SidebarLinkItem Title="KBD" Href="/components/kbd" />
                <SidebarLinkItem Title="Chat Bubble" Href="/components/chatbubble" />
            </SidebarLinkItem>
            -->
        </SidebarLinks>

    </MenuContent>
    <MainContent>
        @Body
    </MainContent>
</Sidebar>

