
@inherits LayoutComponentBase
@using RizzyUI

<RzSidebar>
    <NavbarContent>
        <RzNavbar>
            <div>
                <!-- logo  -->
                <a href="/" class="text-2xl font-bold text-black dark:text-white">
                    <span class="sr-only">RizzyUI Home</span>
                    <div class="w-32 md:w-50 px-2">
                        <img src="/images/rizzy-logo-wb.svg" alt="RizzyUI" class="w-full h-full"/>
                    </div>
                </a>
            </div>
            <div class="flex items-center gap-4">
                <RzDarkModeToggle/>
            </div>
        </RzNavbar>
    </NavbarContent>
    <MenuContent>


        <!-- search  -->
        <div class="relative my-4 flex w-full max-w-xs flex-col gap-1 text-slate-700 dark:text-slate-300">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-width="2" class="-translate-y-1/2 text-slate-700/50 absolute left-2 top-1/2 size-5 dark:text-slate-300/50" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"/>
            </svg>
            <input type="search" class="w-full rounded-xl border border-slate-300 bg-white px-2 py-1.5 pl-9 text-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-700 disabled:cursor-not-allowed disabled:opacity-75 dark:border-slate-700 dark:bg-slate-900/50 dark:focus-visible:outline-blue-600" name="search" aria-label="Search" placeholder="Search"/>
        </div>

        <RzSidebarLinks>
            <RzSidebarLinkItem Icon="MdiIcon.ViewDashboard" Title="Home" Href="/"/>
            <RzSidebarLinkItem Icon="MdiIcon.PaletteSwatchVariant" Title="Themes" Href="/themes" hx-boost="true" />

            <RzSidebarLinkItem Icon="MdiIcon.FormSelect" Title="Forms" Collapsible="false">
                <RzSidebarLinkItem Title="Buttons" Href="/components/buttons" />
                <RzSidebarLinkItem Title="Checkbox" Href="/components/checkboxgroup" />
                <RzSidebarLinkItem Title="Text" Href="/components/textedit" />
                <!--
                <RzSidebarLinkItem Title="Combobox" Href="/components/combobox" />
                <RzSidebarLinkItem Title="Counter" Href="/components/counter" />
                <RzSidebarLinkItem Title="File Input" Href="/components/fileinput" />
                <RzSidebarLinkItem Title="Radio" Href="/components/radio" />
                <RzSidebarLinkItem Title="Range" Href="/components/range" />
                <RzSidebarLinkItem Title="Rating" Href="/components/rating" />
                <RzSidebarLinkItem Title="Select" Href="/components/select" />
                <RzSidebarLinkItem Title="Text Input" Href="/components/textinput" />
                <RzSidebarLinkItem Title="Textarea" Href="/components/textarea" />
                <RzSidebarLinkItem Title="Toggle" Href="/components/toggle" />
                -->
            </RzSidebarLinkItem>

            <RzSidebarLinkItem Icon="MdiIcon.Navigation" Title="Navigation" Collapsible="false">
                <RzSidebarLinkItem Title="Breadcrumb" Href="/components/breadcrumb" />
                <RzSidebarLinkItem Title="Dropdown Menu" Href="/components/dropdown" />
                <RzSidebarLinkItem Title="Link" Href="/components/link" />
                <RzSidebarLinkItem Title="Navbar" Href="/components/navbar" />
                <RzSidebarLinkItem Title="Popover" Href="/components/popover" />
                <!--
                <RzSidebarLinkItem Title="Paginations" Href="/components/paginations" />
                -->
                <RzSidebarLinkItem Title="Sidebar" Href="/components/sidebar" />
                <RzSidebarLinkItem Title="Tabs" Href="/components/tabs" />
            </RzSidebarLinkItem>

            <RzSidebarLinkItem Icon="MdiIcon.ViewList" Title="Display" Collapsible="false">
                <RzSidebarLinkItem Title="Avatar" Href="/components/avatar" hx-boost="true"/>
                <RzSidebarLinkItem Title="Badge" Href="/components/badge" />
                <RzSidebarLinkItem Title="Divider" Href="/components/divider" />
                <RzSidebarLinkItem Title="Table" Href="/components/table" />
                <RzSidebarLinkItem Title="Progress" Href="/components/progress" />
                <!--
                <RzSidebarLinkItem Title="Counter" Href="/components/counter" />
                <RzSidebarLinkItem Title="Rating" Href="/components/rating" />
                -->
            </RzSidebarLinkItem>

            <RzSidebarLinkItem Icon="MdiIcon.Alert" Title="Feedback" Collapsible="false">
                <RzSidebarLinkItem Title="Alert" Href="/components/alert" />
                <RzSidebarLinkItem Title="Toast Notification" Href="/components/toastnotification" />
                <RzSidebarLinkItem Title="Modal" Href="/components/modal" />
                <RzSidebarLinkItem Title="Tooltip" Href="/components/tooltip" />
                <RzSidebarLinkItem Title="Spinner" Href="/components/spinner" />
                <RzSidebarLinkItem Title="Skeleton" Href="/components/skeleton" />
                <RzSidebarLinkItem Title="Steps" Href="/components/steps" />
            </RzSidebarLinkItem>

            <RzSidebarLinkItem Icon="MdiIcon.ViewGrid" Title="Layout" Collapsible="false">
                <RzSidebarLinkItem Title="Card" Href="/components/card" />
                <RzSidebarLinkItem Title="Markdown" Href="/components/markdown" />
                <RzSidebarLinkItem Title="Accordion" Href="/components/accordion" />
                <!--
                <RzSidebarLinkItem Title="Banner" Href="/components/banner" />
                <RzSidebarLinkItem Title="Carousel" Href="/components/carousel" />
                <RzSidebarLinkItem Title="Chat Bubble" Href="/components/chatbubble" />
                -->
            </RzSidebarLinkItem>
            <!--
            <RzSidebarLinkItem Icon="MdiIcon.Apps" Title="Miscellaneous" Collapsible="false">
                <RzSidebarLinkItem Title="KBD" Href="/components/kbd" />
                <RzSidebarLinkItem Title="Chat Bubble" Href="/components/chatbubble" />
            </RzSidebarLinkItem>
            -->
        </RzSidebarLinks>

    </MenuContent>
    <MainContent>
        @Body
    </MainContent>
</RzSidebar>