
@inherits LayoutComponentBase
@using System.Reflection
@using RizzyUI
@using Blazicons

<RzSidebarProvider>
    <Sidebar>
        <SidebarHeader>
            <SidebarMenu>
                <SidebarMenuItem>
                    <SidebarMenuButton Size="Size.Large" AsChild>
                        <a href="/">
                            <img src="/images/rizzy-icon.svg" class="size-10" alt="RizzyUI Icon" />

                            <div class="flex flex-col gap-0.5 leading-none">
                                <span class="font-medium">RizzyUI Docs</span>
                                <span class="text-xs">v@(typeof(RzComponent).Assembly.GetName().Version)</span>
                            </div>
                        </a>
                    </SidebarMenuButton>
                </SidebarMenuItem>
            </SidebarMenu>
        </SidebarHeader>
        <SidebarContent>
            <SidebarGroup>
                <SidebarMenu>
                    <SidebarMenuItem>
                        <SidebarMenuButton AsChild>
                            <a href="/" class="font-medium">Home</a>
                        </SidebarMenuButton>
                    </SidebarMenuItem>
                    <SidebarMenuItem>
                        <SidebarMenuButton AsChild>
                            <a href="/themes" class="font-medium">Themes</a>
                        </SidebarMenuButton>
                    </SidebarMenuItem>
                    <SidebarMenuItem>
                        <SidebarMenuButton AsChild>
                            <a href="#" class="font-medium">Interactivity</a>
                        </SidebarMenuButton>
                        <SidebarMenuSub>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/docs/interactivity/introduction"><span>Introduction</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/docs/interactivity/alpine-fundamentals"><span>Alpine.js Fundamentals</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/docs/interactivity/alpine-code-behind"><span>Your First Code-Behind</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/docs/interactivity/state-reactivity"><span>State and Reactivity</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/docs/interactivity/lifecycle"><span>Lifecycle and Initialization</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/docs/interactivity/lazy-loading"><span>Optimizing with Lazy Loading</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/docs/interactivity/plugins"><span>Plugins & Directives</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/docs/interactivity/orchestration"><span>Advanced: Orchestration</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/docs/interactivity/debugging"><span>Debugging and Best Practices</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/co-located-js"><span>Additional Examples</span></a></SidebarMenuButton></SidebarMenuItem>
                        </SidebarMenuSub>
                    </SidebarMenuItem>
                    <SidebarMenuItem>
                        <SidebarMenuButton AsChild>
                            <a href="#" class="font-medium">Forms</a>
                        </SidebarMenuButton>
                        <SidebarMenuSub>
                            <SidebarMenuItem>
                                <SidebarMenuButton AsChild>
                                    <a href="/components/buttons"><span>Buttons</span></a>
                                </SidebarMenuButton>
                            </SidebarMenuItem>
                            <SidebarMenuItem>
                                <SidebarMenuButton AsChild>
                                    <a href="/components/radiogroup"><span>Radio Group</span></a>
                                </SidebarMenuButton>
                            </SidebarMenuItem>
                            <SidebarMenuItem>
                                <SidebarMenuButton AsChild>
                                    <a href="/components/checkbox"><span>Checkbox</span></a>
                                </SidebarMenuButton>
                            </SidebarMenuItem>
                            <SidebarMenuItem>
                                <SidebarMenuButton AsChild>
                                    <a href="/components/combobox"><span>Combobox</span></a>
                                </SidebarMenuButton>
                            </SidebarMenuItem>                            
                            <SidebarMenuItem>
                                <SidebarMenuButton AsChild>
                                    <a href="/components/native-select"><span>Native Select</span></a>
                                </SidebarMenuButton>
                            </SidebarMenuItem>                            
                            <SidebarMenuItem>
                                <SidebarMenuButton AsChild>
                                    <a href="/components/switch"><span>Switch</span></a>
                                </SidebarMenuButton>
                            </SidebarMenuItem>
                            <SidebarMenuItem>
                                <SidebarMenuButton AsChild>
                                    <a href="/components/input"><span>Input</span></a>
                                </SidebarMenuButton>
                            </SidebarMenuItem>
                        </SidebarMenuSub>
                    </SidebarMenuItem>
                    <SidebarMenuItem>
                        <SidebarMenuButton AsChild>
                            <a href="#" class="font-medium">Navigation</a>
                        </SidebarMenuButton>
                        <SidebarMenuSub>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/breadcrumb"><span>Breadcrumb</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/collapsible"><span>Collapsible</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/command"><span>Command</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/dropdown"><span>Dropdown Menu</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/link"><span>Link</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/navigation-menu"><span>Navigation Menu</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/popover"><span>Popover</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/sidebar"><span>Sidebar</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/tabs"><span>Tabs</span></a></SidebarMenuButton></SidebarMenuItem>
                        </SidebarMenuSub>
                    </SidebarMenuItem>
                    <SidebarMenuItem>
                        <SidebarMenuButton AsChild>
                            <a href="#" class="font-medium">Display</a>
                        </SidebarMenuButton>
                        <SidebarMenuSub>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/avatar"><span>Avatar</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/badge"><span>Badge</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/kbd"><span>Kbd</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/item"><span>Item</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/separator"><span>Separator</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/table"><span>Table</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/progress"><span>Progress</span></a></SidebarMenuButton></SidebarMenuItem>
                        </SidebarMenuSub>
                    </SidebarMenuItem>
                    <SidebarMenuItem>
                        <SidebarMenuButton AsChild>
                            <a href="#" class="font-medium">Feedback</a>
                        </SidebarMenuButton>
                        <SidebarMenuSub>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/alert"><span>Alert</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/dialog"><span>Dialog</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/toastnotification"><span>Toast Notification</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/tooltip"><span>Tooltip</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/sheet"><span>Sheet</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/empty"><span>Empty</span></a></SidebarMenuButton></SidebarMenuItem>                            
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/spinner"><span>Spinner</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/skeleton"><span>Skeleton</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/steps"><span>Steps</span></a></SidebarMenuButton></SidebarMenuItem>
                        </SidebarMenuSub>
                    </SidebarMenuItem>
                    <SidebarMenuItem>
                        <SidebarMenuButton AsChild>
                            <a href="#" class="font-medium">Layout</a>
                        </SidebarMenuButton>
                        <SidebarMenuSub>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/accordion"><span>Accordion</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/aspect-ratio"><span>Aspect Ratio</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/card"><span>Card</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/carousel"><span>Carousel</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/markdown"><span>Markdown</span></a></SidebarMenuButton></SidebarMenuItem>
                        </SidebarMenuSub>
                    </SidebarMenuItem>
                </SidebarMenu>
            </SidebarGroup>
        </SidebarContent>
    </Sidebar>

    <!-- Main Content Area -->
    <SidebarInset class="h-screen">
        <header class="flex h-16 shrink-0 items-center gap-2 transition-[width,height] ease-in-out group-has-data-[collapsible=icon]/sidebar-wrapper:h-12 items-center justify-between border-b bg-secondary/75 px-4 py-2 backdrop-blur-xl">
            <div class="flex items-center gap-2">
                <SidebarTrigger />
                <RzSeparator Orientation="Orientation.Vertical" class="mr-2 h-10" />
                <div data-slot="header-logo" class="w-32 md:w-50 px-2 shrink-0 overflow-hidden opacity-0
    transition-[opacity] duration-200
    group-has-[[data-state=collapsed]]/sidebar-wrapper:py-2
    group-has-[[data-state=collapsed]]/sidebar-wrapper:opacity-100" b-jf2s6kmoz7=""><img src="/images/rizzy-logo-wb.svg" alt="RizzyUI" class="w-full h-full"></div>
            </div>

            <!-- Right-aligned items -->
            <div class="flex items-center gap-4">
                <RzSearchButton class="bg-background" />
                <RzDarkModeToggle/>
            </div>
        </header>

        <main class="flex flex-1 flex-col gap-4 p-4 overflow-y-scroll">
            @Body
        </main>
    </SidebarInset>
</RzSidebarProvider>

@code {
    [CascadingParameter]
    private RzTheme Theme { get; set; } = null!;
}