
@namespace RizzyUI
@inherits RzComponent

<div x-ref="indicator"
     data-state="hidden"
     aria-hidden="true"
     @attributes="@AdditionalAttributes"
     id="@Id"
     class="@RootClass()">
</div>