
@namespace RizzyUI
@inherits RzComponent<NavigationMenuContent.Slots>

<div @attributes="AdditionalAttributes"
     x-ref="content_@ParentItem?.Id"
     id="@ContentId"
     data-item-id="@ParentItem?.Id"
     data-floating
     data-popover
     class="@SlotClasses.GetBase()"
     x-on:mouseenter="handleContentEnter"
     x-cloak
     data-slot="navigation-menu-content">
    @ChildContent
</div>