
@namespace RizzyUI
@inherits RzComponent

<div x-ref="content_@ParentItem?.Id"
     id="@ContentId"
     data-item-id="@ParentItem?.Id"
     data-floating
     data-popover
     class="@RootClass()"
     x-data="rzNavigationMenuContent"
     x-show="visible"
     x-cloak
     data-alpine-root="@ContentId"
     @attributes="AdditionalAttributes">
    @ChildContent
</div>