
@namespace RizzyUI
@inherits RzComponent

<div x-ref="viewport"
     id="@ViewportId"
     class="@RootClass()"
     data-state="closed"
     x-show="open"
     x-cloak
     @attributes="@AdditionalAttributes"
     x-on:mouseenter="cancelClose"
     x-on:mouseleave="scheduleClose">
</div>