@page "/components/alert"

<PageTitle>Alert</PageTitle>

<QuickReferenceContainer>
    <Article>
        <SideContent>
            <QuickReference />
        </SideContent>
        <MainContent>
            <Heading Level="HeadingLevel.H1" class="scroll-mt-20">Alert</Heading>
            <Paragraph>
	            Alerts allow you to communicate important information to users and offer feedback on their actions.
            </Paragraph>
			
            <section class="my-8 py-2">

	            <Heading Level="HeadingLevel.H2" QuickReferenceTitle="Default Alert" class="scroll-mt-20">Default Alert</Heading>
	            <Paragraph TextColor="SemanticColor.OnSurface">
		            An alert with an icon, title, and message allows you to inform users about critical updates or changes in the system. You can dismiss the icon if Dismissable is set.
	            </Paragraph>

	            <Browser Layout="typeof(PreviewLayout)">

		            <div class="mx-auto flex flex-col items-start justify-center gap-4 rounded p-8">
						
			            <Alert Variant="AlertVariant.Alternate">
				            <AlertTitle>Alternate Alert</AlertTitle>
				            <AlertDescription>Your post will be moderated before it is approved.</AlertDescription>
			            </Alert>
			            <Alert Variant="AlertVariant.Information">
				            <AlertTitle>Update Available</AlertTitle>
				            <AlertDescription>A new version is available. Please update to the latest version.</AlertDescription>
			            </Alert>
			            <Alert Variant="AlertVariant.Success">
				            <AlertTitle>Successfully Subscribed</AlertTitle>
				            <AlertDescription>Success! You've subscribed to our newsletter. Welcome aboard!</AlertDescription>
			            </Alert>
			            <Alert Variant="AlertVariant.Warning">
				            <AlertTitle>Credit Card Expires Soon</AlertTitle>
				            <AlertDescription>Your credit card expires soon. Please update your payment information.</AlertDescription>
			            </Alert>
			            <Alert Variant="AlertVariant.Danger">
				            <AlertTitle>Invalid Email Address</AlertTitle>
				            <AlertDescription>The email address you entered is invalid. Please try again.</AlertDescription>
			            </Alert>

		            </div>

	            </Browser>

	            <CodeViewer Language=@CodeLanguage.Razor class="mb-10">
                    &lt;Alert Variant=&quot;AlertVariant.Alternate&quot;&gt;
                        &lt;AlertTitle&gt;Alternate Alert&lt;/AlertTitle&gt;
                        &lt;AlertDescription&gt;Your post will be moderated before it is approved.&lt;/AlertDescription&gt;
                    &lt;/Alert&gt;
                    &lt;Alert Variant=&quot;AlertVariant.Information&quot;&gt;
                        &lt;AlertTitle&gt;Update Available&lt;/AlertTitle&gt;
                        &lt;AlertDescription&gt;A new version is available. Please update to the latest version.&lt;/AlertDescription&gt;
                    &lt;/Alert&gt;
                    &lt;Alert Variant=&quot;AlertVariant.Success&quot;&gt;
                        &lt;AlertTitle&gt;Successfully Subscribed&lt;/AlertTitle&gt;
                        &lt;AlertDescription&gt;Success! You&#39;ve subscribed to our newsletter. Welcome aboard!&lt;/AlertDescription&gt;
                    &lt;/Alert&gt;
                    &lt;Alert Variant=&quot;AlertVariant.Warning&quot;&gt;
                        &lt;AlertTitle&gt;Credit Card Expires Soon&lt;/AlertTitle&gt;
                        &lt;AlertDescription&gt;Your credit card expires soon. Please update your payment information.&lt;/AlertDescription&gt;
                    &lt;/Alert&gt;
                    &lt;Alert Variant=&quot;AlertVariant.Danger&quot;&gt;
                        &lt;AlertTitle&gt;Invalid Email Address&lt;/AlertTitle&gt;
                        &lt;AlertDescription&gt;The email address you entered is invalid. Please try again.&lt;/AlertDescription&gt;
                    &lt;/Alert&gt;
	            </CodeViewer>

			</section>
			
            <section class="my-8 py-2">

	            <Heading Level="HeadingLevel.H2" QuickReferenceTitle="Dismissable Alert" class="scroll-mt-20">Dismissable Alert</Heading>
	            <Paragraph TextColor="SemanticColor.OnSurface">
		            An alert with an icon, title, and message that can be dismissed by the user.
	            </Paragraph>

	            <Browser Layout="typeof(PreviewLayout)">

		            <div class="mx-auto flex flex-col items-start justify-center gap-4 rounded p-8">

			            <Alert Variant="AlertVariant.Information" Dismissable>
				            <AlertTitle>Update Available</AlertTitle>
				            <AlertDescription>A new version is available. Please update to the latest version.</AlertDescription>
			            </Alert>
			            <Alert Variant="AlertVariant.Success" Dismissable>
				            <AlertTitle>Successfully Subscribed</AlertTitle>
				            <AlertDescription>Success! You've subscribed to our newsletter. Welcome aboard!</AlertDescription>
			            </Alert>
                        <Alert Variant="AlertVariant.Warning" Dismissable>
				            <AlertTitle>Credit Card Expires Soon</AlertTitle>
				            <AlertDescription>Your credit card expires soon. Please update your payment information.</AlertDescription>
			            </Alert>
                        <Alert Variant="AlertVariant.Danger" Dismissable>
				            <AlertTitle>Invalid Email Address</AlertTitle>
				            <AlertDescription>The email address you entered is invalid. Please try again.</AlertDescription>
			            </Alert>

		            </div>

	            </Browser>

	            <CodeViewer Language=@CodeLanguage.Razor class="mb-10">
                    &lt;Alert Variant=&quot;AlertVariant.Information&quot; Dismissable&gt;
	                    &lt;AlertTitle&gt;Update Available&lt;/AlertTitle&gt;
	                    &lt;AlertDescription&gt;A new version is available. Please update to the latest version.&lt;/AlertDescription&gt;
                    &lt;/Alert&gt;
                    &lt;Alert Variant=&quot;AlertVariant.Success&quot; Dismissable&gt;
	                    &lt;AlertTitle&gt;Successfully Subscribed&lt;/AlertTitle&gt;
	                    &lt;AlertDescription&gt;Success! You&#39;ve subscribed to our newsletter. Welcome aboard!&lt;/AlertDescription&gt;
                    &lt;/Alert&gt;
                    &lt;Alert Variant=&quot;AlertVariant.Warning&quot; Dismissable&gt;
	                    &lt;AlertTitle&gt;Credit Card Expires Soon&lt;/AlertTitle&gt;
	                    &lt;AlertDescription&gt;Your credit card expires soon. Please update your payment information.&lt;/AlertDescription&gt;
                    &lt;/Alert&gt;
                    &lt;Alert Variant=&quot;AlertVariant.Danger&quot; Dismissable&gt;
	                    &lt;AlertTitle&gt;Invalid Email Address&lt;/AlertTitle&gt;
	                    &lt;AlertDescription&gt;The email address you entered is invalid. Please try again.&lt;/AlertDescription&gt;
                    &lt;/Alert&gt;
	            </CodeViewer>

            </section>
			
            <section class="my-8 py-2">

	            <Heading Level="HeadingLevel.H2" QuickReferenceTitle="Pulsed Alert" class="scroll-mt-20">Pulsed Alert</Heading>
	            <Paragraph TextColor="SemanticColor.OnSurface">
		            An alert with an icon, title, and message that has a pulsing icon animation.
	            </Paragraph>

	            <Browser Layout="typeof(PreviewLayout)">

		            <div class="mx-auto flex flex-col items-start justify-center gap-4 rounded p-8">

			            <Alert Variant="AlertVariant.Information" Pulse>
				            <AlertTitle>Update Available</AlertTitle>
				            <AlertDescription>A new version is available. Please update to the latest version.</AlertDescription>
			            </Alert>
			            <Alert Variant="AlertVariant.Success" Pulse>
				            <AlertTitle>Successfully Subscribed</AlertTitle>
				            <AlertDescription>Success! You've subscribed to our newsletter. Welcome aboard!</AlertDescription>
			            </Alert>
			            <Alert Variant="AlertVariant.Warning" Pulse>
				            <AlertTitle>Credit Card Expires Soon</AlertTitle>
				            <AlertDescription>Your credit card expires soon. Please update your payment information.</AlertDescription>
			            </Alert>
			            <Alert Variant="AlertVariant.Danger" Pulse>
				            <AlertTitle>Invalid Email Address</AlertTitle>
				            <AlertDescription>The email address you entered is invalid. Please try again.</AlertDescription>
			            </Alert>

		            </div>

	            </Browser>

	            <CodeViewer Language=@CodeLanguage.Razor class="mb-10">
                    &lt;Alert Variant=&quot;AlertVariant.Information&quot; Pulse&gt;
                        &lt;AlertTitle&gt;Update Available&lt;/AlertTitle&gt;
                        &lt;AlertDescription&gt;A new version is available. Please update to the latest version.&lt;/AlertDescription&gt;
                    &lt;/Alert&gt;
                    &lt;Alert Variant=&quot;AlertVariant.Success&quot; Pulse&gt;
                        &lt;AlertTitle&gt;Successfully Subscribed&lt;/AlertTitle&gt;
                        &lt;AlertDescription&gt;Success! You&#39;ve subscribed to our newsletter. Welcome aboard!&lt;/AlertDescription&gt;
                    &lt;/Alert&gt;
                    &lt;Alert Variant=&quot;AlertVariant.Warning&quot; Pulse&gt;
                        &lt;AlertTitle&gt;Credit Card Expires Soon&lt;/AlertTitle&gt;
                        &lt;AlertDescription&gt;Your credit card expires soon. Please update your payment information.&lt;/AlertDescription&gt;
                    &lt;/Alert&gt;
                    &lt;Alert Variant=&quot;AlertVariant.Danger&quot; Pulse&gt;
                        &lt;AlertTitle&gt;Invalid Email Address&lt;/AlertTitle&gt;
                        &lt;AlertDescription&gt;The email address you entered is invalid. Please try again.&lt;/AlertDescription&gt;
                    &lt;/Alert&gt;
	            </CodeViewer>

            </section>

        </MainContent>
    </Article>
</QuickReferenceContainer>
