@page "/components/breadcrumb"
@using RizzyUI

<PageTitle>RzBreadcrumb</PageTitle>

<RzQuickReferenceContainer>
    <RzArticle ProseWidth="ProseWidth.UltraWide">
        <SideContent>
            <RzQuickReference />
        </SideContent>
        <MainContent>
            <RzHeading Level="HeadingLevel.H1" class="scroll-mt-20">RzBreadcrumb</RzHeading>
            <RzParagraph>
                The RzBreadcrumb component is a navigation aid that allows users to keep track of their locations within programs, documents, or websites. It enhances user experience by providing a clear path of navigation, making it easier to understand and navigate the application's structure.
            </RzParagraph>
			
            <section class="my-8 py-2">

                <RzHeading Level="HeadingLevel.H2" QuickReferenceTitle="RzBreadcrumb with Chevron" class="scroll-mt-20">RzBreadcrumb with Chevron</RzHeading>
                <RzParagraph TextColor="SemanticColor.OnSurface">
                    A breadcrumb navigation with chevron (arrow) separators. This style provides a modern and clean look, making the navigation path clear and intuitive.
                </RzParagraph>

                <RzBrowser Layout="typeof(PreviewLayout)">

                    <div class="mx-auto p-8 mb-5">
						
                        <RzBreadcrumb>
                            <RzBreadcrumbItem Href="javascript:void(0);" Label="Home" />
                            <RzBreadcrumbItem Href="javascript:void(0);" Label="Components" />
                            <RzBreadcrumbItem Label="RzBreadcrumb" IsActive="true" />
                        </RzBreadcrumb>
						
                    </div>

                </RzBrowser>

                <RzCodeViewer Language=@CodeLanguage.Razor class="mb-10">
&lt;RzBreadcrumb&gt;
    &lt;RzBreadcrumbItem Href="/" Label="Home" /&gt;
    &lt;RzBreadcrumbItem Href="/components" Label="Components" /&gt;
    &lt;RzBreadcrumbItem Label="RzBreadcrumb" IsActive="true" /&gt;
&lt;/RzBreadcrumb&gt;
                </RzCodeViewer>

            </section>

            <section class="my-8 py-2">

                <RzHeading Level="HeadingLevel.H2" QuickReferenceTitle="RzBreadcrumb with Slash" class="scroll-mt-20">RzBreadcrumb with Slash</RzHeading>
                <RzParagraph TextColor="SemanticColor.OnSurface">
                    A breadcrumb navigation with slash ("/") separators. This traditional style is simple and widely recognized, making it easy for users to follow their navigation path.
                </RzParagraph>

                <RzBrowser Layout="typeof(PreviewLayout)">

                    <div class="mx-auto p-8 mb-5">
						
                        <RzBreadcrumb Separator="MdiIcon.SlashForward">
                            <RzBreadcrumbItem Href="javascript:void(0);" Label="Home" Icon="MdiIcon.Home" />
                            <RzBreadcrumbItem Href="javascript:void(0);" Label="Components" />
                            <RzBreadcrumbItem Label="RzBreadcrumb" IsActive="true" />
                        </RzBreadcrumb>
						
                    </div>

                </RzBrowser>

                <RzCodeViewer Language=@CodeLanguage.Razor class="mb-10">
&lt;RzBreadcrumb Separator="MdiIcon.SlashForward"&gt;
    &lt;RzBreadcrumbItem Href="/" Label="Home" Icon="MdiIcon.Home" /&gt;
    &lt;RzBreadcrumbItem Href="/components" Label="Components" /&gt;
    &lt;RzBreadcrumbItem Label="RzBreadcrumb" IsActive="true" /&gt;
&lt;/RzBreadcrumb&gt;
                </RzCodeViewer>

            </section>
			
            <section class="my-8 py-2">

                <RzHeading Level="HeadingLevel.H2" QuickReferenceTitle="RzBreadcrumb with Icon" class="scroll-mt-20">RzBreadcrumb with Icon</RzHeading>
                <RzParagraph TextColor="SemanticColor.OnSurface">
                    A breadcrumb navigation where the first item includes an icon, providing a visual cue for the starting point of navigation. This enhances the aesthetic appeal and usability of the breadcrumb.
                </RzParagraph>

                <RzBrowser Layout="typeof(PreviewLayout)">

                    <div class="mx-auto p-8 mb-5">
						
                        <RzBreadcrumb>
                            <RzBreadcrumbItem Href="javascript:void(0);" Label="Home" Icon="MdiIcon.Home" />
                            <RzBreadcrumbItem Href="javascript:void(0);" Label="Components" />
                            <RzBreadcrumbItem Label="RzBreadcrumb" IsActive="true" />
                        </RzBreadcrumb>
						
                    </div>

                </RzBrowser>

                <RzCodeViewer Language=@CodeLanguage.Razor class="mb-10">
&lt;RzBreadcrumb&gt;
    &lt;RzBreadcrumbItem Href="/" Label="Home" Icon="MdiIcon.Home" /&gt;
    &lt;RzBreadcrumbItem Href="/components" Label="Components" /&gt;
    &lt;RzBreadcrumbItem Label="RzBreadcrumb" IsActive="true" /&gt;
&lt;/RzBreadcrumb&gt;
                </RzCodeViewer>

            </section>

        </MainContent>
    </RzArticle>
</RzQuickReferenceContainer>
