@page "/components/card"
@using RizzyUI.Docs.Components.Layout
@using RizzyUI

<PageTitle>Card</PageTitle>

<RzQuickReferenceContainer>
    <RzArticle ProseWidth="ProseWidth.UltraWide">
        <SideContent>
            <RzQuickReference />
        </SideContent>
        <MainContent>
            <RzHeading Level="HeadingLevel.H1" QuickReferenceTitle="Card" class="scroll-mt-20">Card</RzHeading>
            <RzParagraph>
                Cards are a great way to display information in a visually appealing format. They can be used to display images, text, and more.
            </RzParagraph>
			
            <section class="my-8 py-2">

	            <RzHeading Level="HeadingLevel.H2" QuickReferenceTitle="Default Card" class="scroll-mt-20">Default Card</RzHeading>
	            <RzParagraph TextColor="SemanticColor.Foreground">
		            A card with a header and footer
	            </RzParagraph>

                <RzBrowser Layout="typeof(PreviewLayout)">

                    <div class="mx-auto flex items-center justify-center gap-4 rounded-theme p-8">
			            <RzCard class="w-full">
				            <RzCardHeader>
					            <div>
						            <RzCardTitle>Project Management</RzCardTitle>
						            <RzCardSubtitle>Manage all your projects</RzCardSubtitle>
					            </div>
					            <RzCardButtons>
						            <RzButton Size="Size.Small" Variant="ButtonVariant.Information">
							            <Blazicon Svg="MdiIcon.Plus"></Blazicon>
							            <span>New Project</span>
						            </RzButton>
						            <RzButton Size="Size.Small" Variant="ButtonVariant.Information">
							            <Blazicon Svg="MdiIcon.AccountMultiple"></Blazicon>
							            <span>Clients</span>
						            </RzButton>
					            </RzCardButtons>
				            </RzCardHeader>
				            <RzCardBody>Body content here</RzCardBody>
				            <RzCardFooter>Footer content here</RzCardFooter>
			            </RzCard>
		            </div>

	            </RzBrowser>

	            <RzCodeViewer Language=@CodeLanguage.Razor class="mb-10">
	    &lt;Card class=&quot;w-full&quot;&gt;
	        &lt;RzCardHeader&gt;
	            &lt;div&gt;
	                &lt;RzCardTitle&gt;Information&lt;/RzCardTitle&gt;
	                &lt;CardSubtitle&gt;This is a subtitle&lt;/CardSubtitle&gt;
	            &lt;/div&gt;
	            &lt;RzCardButtons&gt;
	                &lt;RzButton Size=&quot;Size.Small&quot; Variant=&quot;ButtonVariant.Information&quot;&gt;
	                    &lt;Blazicon Svg=&quot;MdiIcon.Plus&quot;&gt;&lt;/Blazicon&gt;
	                    &lt;span&gt;New Project&lt;/span&gt;
	                &lt;/RzButton&gt;
	                &lt;RzButton Size=&quot;Size.Small&quot; Variant=&quot;ButtonVariant.Information&quot;&gt;
	                    &lt;Blazicon Svg=&quot;MdiIcon.AccountMultiple&quot;&gt;&lt;/Blazicon&gt;
	                    &lt;span&gt;Clients&lt;/span&gt;
	                &lt;/RzButton&gt;
	            &lt;/RzCardButtons&gt;
	        &lt;/RzCardHeader&gt;
	        &lt;RzCardBody&gt;Body content here&lt;/RzCardBody&gt;
	        &lt;RzCardFooter&gt;Footer content here&lt;/RzCardFooter&gt;
	    &lt;/Card&gt;
	            </RzCodeViewer>

	        </section>
		
            <section class="my-8 py-2">

	            <RzHeading Level="HeadingLevel.H2" QuickReferenceTitle="RzArticle Card" class="scroll-mt-20">RzArticle Card</RzHeading>
	            <RzParagraph TextColor="SemanticColor.Foreground">
		            A card with an image, title, and description.
	            </RzParagraph>

	            <RzBrowser Layout="typeof(PreviewLayout)">

                    <div class="mx-auto flex items-center justify-center gap-4 rounded-theme p-8">

			            <RzCard class="max-w-sm">
				            <div class="h-44 md:h-64 overflow-hidden"> 
					            <img src="/images/card2.jpg" class="w-full object-cover transition duration-700 ease-out group-hover:scale-105" alt="coffee beans spilling out from a coffee mug" />
				            </div>

				            <RzCardBody BackgroundColor="SemanticColor.Muted">
					            <span class="text-sm font-medium">Features</span>
					            <RzHeading Level="HeadingLevel.H2">Elevate your Coffee Brew With This One Trick</RzHeading>
					            <RzParagraph class="text-sm mb-0">
						            Whether you're a barista or a coffee enthusiast, this guide provides expert tips on selecting quality beans, mastering 
						            the grind, and refining your brewing technique to elevate your coffee ritual and savor every sip.
					            </RzParagraph>							
				            </RzCardBody>
				            <RzCardFooter>
					            <RzButton Variant="ButtonVariant.Primary">View</RzButton>
				            </RzCardFooter>
			            </RzCard>

		            </div>

	            </RzBrowser>

	            <RzCodeViewer Language=@CodeLanguage.Razor class="mb-10">
    &lt;Card class=&quot;max-w-sm&quot;&gt;
        &lt;div class=&quot;h-44 md:h-64 overflow-hidden&quot;&gt; 
            &lt;img src=&quot;/images/card2.jpg&quot; class=&quot;h-full object-cover transition duration-700 ease-out group-hover:scale-105&quot; alt=&quot;coffee beans spilling out from a coffee mug&quot; /&gt;
        &lt;/div&gt;

        &lt;RzCardBody BackgroundColor=&quot;SemanticColor.SurfaceAlt&quot;&gt;
            &lt;span class=&quot;text-sm font-medium&quot;&gt;Features&lt;/span&gt;
            &lt;RzHeading Level=&quot;HeadingLevel.H2&quot;&gt;Elevate your Coffee Brew With This One Trick&lt;/RzHeading&gt;
            &lt;RzParagraph class=&quot;text-sm mb-0&quot;&gt;
	            Whether you&#39;re a barista or a coffee enthusiast, this guide provides expert tips on selecting quality beans, mastering 
	            the grind, and refining your brewing technique to elevate your coffee ritual and savor every sip.
            &lt;/RzParagraph&gt;							
        &lt;/RzCardBody&gt;
        &lt;RzCardFooter&gt;
            &lt;RzButton Variant=&quot;ButtonVariant.Primary&quot;&gt;View&lt;/RzButton&gt;
        &lt;/RzCardFooter&gt;
    &lt;/Card&gt;
	            </RzCodeViewer>

            </section>

        </MainContent>
    </RzArticle>
</RzQuickReferenceContainer>
