@page "/components/divider"
@using RizzyUI

<PageTitle>Divider</PageTitle>

<RzQuickReferenceContainer>
    <RzArticle ProseWidth="ProseWidth.UltraWide">
        <SideContent>
            <RzQuickReference />
        </SideContent>
        <MainContent>
            <RzHeading Level="HeadingLevel.H1" QuickReferenceTitle="Divider" class="scroll-mt-20">Divider</RzHeading>
            <RzParagraph>
                The Divider component is a versatile UI element used to separate content, providing a clear visual distinction between different sections or elements within your application. It enhances readability and organizes the layout by creating logical divisions.
            </RzParagraph>
			
            <section class="my-8 py-2">

	            <RzHeading Level="HeadingLevel.H2" QuickReferenceTitle="Default Divider" class="scroll-mt-20">Default Divider</RzHeading>
	            <RzParagraph TextColor="SemanticColor.Foreground">
		            A basic divider shown in solid, dashed, and dotted styles
	            </RzParagraph>

	            <RzBrowser Layout="typeof(PreviewLayout)">

		            <div class="mx-auto p-8 mb-5">
						
			            <RzDivider/>
						
			            <RzDivider Style="@DividerStyle.Dashed"/>
						
			            <RzDivider Style="@DividerStyle.Dotted"/>

		            </div>

	            </RzBrowser>

	            <RzCodeViewer Language=@CodeLanguage.Razor class="mb-10">
    &lt;RzDivider/&gt;
		
    &lt;RzDivider Style=&quot;@@DividerStyle.Dashed&quot;/&gt;
		
    &lt;RzDivider Style=&quot;@@DividerStyle.Dotted&quot;/&gt;
	            </RzCodeViewer>

	        </section>

            <section class="my-8 py-2">

	            <RzHeading Level="HeadingLevel.H2" QuickReferenceTitle="Divider with Label" class="scroll-mt-20">Divider with Label</RzHeading>
	            <RzParagraph TextColor="SemanticColor.Foreground">
		            A divider with text label shown in solid, dashed, and dotted styles
	            </RzParagraph>

	            <RzBrowser Layout="typeof(PreviewLayout)">

		            <div class="mx-auto p-8 mb-5">
						
			            <RzDivider Style=@DividerStyle.Solid>Solid</RzDivider>

			            <RzDivider Style=@DividerStyle.Dashed>Dashed</RzDivider>

			            <RzDivider Style=@DividerStyle.Dotted>Dotted</RzDivider>

		            </div>

	            </RzBrowser>

	            <RzCodeViewer Language=@CodeLanguage.Razor class="mb-10">
    &lt;RzDivider Style=@@DividerStyle.Solid&gt;Solid&lt;/RzDivider&gt;

    &lt;RzDivider Style=@@DividerStyle.Dashed&gt;Dashed&lt;/RzDivider&gt;

    &lt;RzDivider Style=@@DividerStyle.Dotted&gt;Dotted&lt;/RzDivider&gt;
	            </RzCodeViewer>

            </section>
			
            <section class="my-8 py-2">

	            <RzHeading Level="HeadingLevel.H2" QuickReferenceTitle="Divider with Aligned Label" class="scroll-mt-20">Divider with Aligned Label</RzHeading>
	            <RzParagraph TextColor="SemanticColor.Foreground">
		            A divider with text label aligned to start, center, and end
	            </RzParagraph>

	            <RzBrowser Layout="typeof(PreviewLayout)">

		            <div class="mx-auto p-8 mb-5">

                        <RzDivider LabelAlignment="Align.Start" class="text-onSurface dark:text-onSurfaceDark">Start</RzDivider>

                        <RzDivider LabelAlignment="Align.Center" class="text-onSurface dark:text-onSurfaceDark">Center</RzDivider>

                        <RzDivider LabelAlignment="Align.End" class="text-onSurface dark:text-onSurfaceDark">End</RzDivider>

		            </div>

	            </RzBrowser>

	            <RzCodeViewer Language=@CodeLanguage.Razor class="mb-10">
    &lt;RzDivider LabelAlignment=&quot;Align.Start&quot; class=&quot;text-onSurface dark:text-onSurfaceDark&quot;&gt;Start&lt;/RzDivider&gt;

    &lt;RzDivider LabelAlignment=&quot;Align.Center&quot; class=&quot;text-onSurface dark:text-onSurfaceDark&quot;&gt;Center&lt;/RzDivider&gt;

    &lt;RzDivider LabelAlignment=&quot;Align.End&quot; class=&quot;text-onSurface dark:text-onSurfaceDark&quot;&gt;Middle&lt;/RzDivider&gt;

	            </RzCodeViewer>

            </section>			

            <section class="my-8 py-2">

	            <RzHeading Level="HeadingLevel.H2" QuickReferenceTitle="Divider with Icon" class="scroll-mt-20">Divider with Icon</RzHeading>
	            <RzParagraph TextColor="SemanticColor.Foreground">
		            A divider with icon label styled by Tailwind classes
	            </RzParagraph>

	            <RzBrowser Layout="typeof(PreviewLayout)">

		            <div class="mx-auto p-8 mb-5">
						
			            <RzDivider Style=@DividerStyle.Solid class="text-lg text-onSurface dark:text-onSurfaceDark"><Blazicon Svg="MdiIcon.PlusCircle"/></RzDivider>

		            </div>

	            </RzBrowser>

	            <RzCodeViewer Language=@CodeLanguage.Razor class="mb-10">
    &lt;RzDivider Style=@@DividerStyle.Solid class=&quot;text-lg text-onSurface dark:text-onSurfaceDark&quot;&gt;&lt;Blazicon Svg=&quot;MdiIcon.PlusCircle&quot;/&gt;&lt;/RzDivider&gt;
	            </RzCodeViewer>

            </section>

        </MainContent>
    </RzArticle>
</RzQuickReferenceContainer>
