
@inherits RzComponent<RzTabStripSlots>
@namespace RizzyUI

<CascadingValue Value="this" IsFixed="true">
    <div role="tablist"
         @attributes="AdditionalAttributes"
         id="@Parent?.ButtonRefId"
         class="@SlotClasses.GetBase()">
        @ChildContent

        <div x-ref="tabMarker" class="@SlotClasses.GetMarker()" x-cloak>
            <div class="@SlotClasses.GetMarkerInner()"></div>
        </div>
    </div>
</CascadingValue>