
@inherits RzComponent
@namespace RizzyUI

<CascadingValue Value="this" IsFixed="true">
    <div id="@Parent?.ButtonRefId"
         role="tablist"
         @attributes="AdditionalAttributes"
         class="@RootClass()">
        @ChildContent

        <div x-ref="tabMarker" class="@Theme.RzTabStrip.Marker @MarkerAfterBackgroundClass" x-cloak>
            <div class="@Theme.RzTabStrip.MarkerInner"></div>
        </div>
    </div>
</CascadingValue>