
@inherits RzComponent
@namespace RizzyUI

<CascadingValue Value="this" IsFixed="true">
    <div
        data-tabselected="@ActiveTabNameLower"
        data-buttonref="@ButtonRefId"
        x-data="rzTabs"
        x-on:resize.window="handleResize"
        @attributes="AdditionalAttributes"
        class="@RootClass()"
    >
        @Menu

        <div class="@Theme.RzTabs.PanelsContainer">
            @TabPanels
        </div>
    </div>
</CascadingValue>