
@namespace RizzyUI
@inherits RzComponent<RadioGroupItemIndicator.Slots>

<div @attributes="AdditionalAttributes" class="@SlotClasses.GetBase()" data-slot="@RadioGroupItemIndicator.SlotNames.NameOf(SlotTypes.Base)">
    <div class="@SlotClasses.GetDot()" data-slot="@RadioGroupItemIndicator.SlotNames.NameOf(SlotTypes.Dot)"></div>
</div>